:root {
    --form-border-radius : 20px;
    --form-padding-block : 30px;
    --form-padding : 50px;
    --primary-color: #f46a05;
    --secondary-color: #1706ac;
    --font-white: #fff;
    --font-black: #000;
    --input-bg: #686868;
    --bg-fade-signup: #d9d9d9;

}

/* Main container */
.assessment-form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 15%; */
}

/* Job Performance */
.job-performance-assessment-content, 
.work-ethic-behaviour-assessment-content, 
.skills-competencies-assessment-content 
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    min-height: 200px;
    width: 640px;
    max-width: 640px;
    border-radius: var(--form-border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.top-display {
    /* position: relative; */
    top: 0;
    background-color: #f46a05;
    height: 20px;
    max-height: 20px;
    min-height: 20px;
    /* border-radius: 20px 20px 0px 0px; */
    border-radius: 
        var(--form-border-radius)
        var(--form-border-radius)
        0px
        0px;
}
.job-performance-assessment-form, 
.work-ethic-behavior-assessment-form, 
.skills-competencies-assessment-form 
{
    width: 100%;
    height: auto;
    min-height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.form-header {
    padding-inline: var(--form-padding);
    width: 100%;
}
.form-header p {
    font-size: 14px;
}
.job-performance-assessment-form-inputs,
.work-ethic-behavior-assessment-form-inputs,
.skills-competencies-assessment-form-inputs 
{
    padding-inline: var(--form-padding);
    width: 100%;
}
.assessment-form-control {
    width: 100%;
}
.assessment-form-radio-group-container {
    gap: 10px;
}
.assessment-form-group {
    width: 100%;
    border-radius: 15px;
    border: 1px solid black;
    padding: 10px 20px;
    margin: 0 !important;
    transition: border-color 0.3s ease;
}



.assessment-form-label {
    font-size: 15px;
}
.assessment-form-label-discription {
    font-size: 14px;
    color: #686868;
}
.assessment-form-btn-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 0px;
}
.assessment-form-btn-submit {
    padding: 5px 10px;
    background-color: #F46A05;
    color: var(--font-white);
    border-radius: 20px;
    width: 150px;
    border: none;
}
.assessment-form-btn-submit:disabled{
    background: var(--input-bg);
}

/* Add hover effects for assessment form radio groups */
.assessment-form-radio-group-container .MuiFormControlLabel-root:hover .MuiRadio-root {
  color: #5D643F;
}

.assessment-form-radio-group-container .MuiFormControlLabel-root:nth-child(1):hover .MuiRadio-root {
  color: #5D643F;
}

.assessment-form-radio-group-container .MuiFormControlLabel-root:nth-child(2):hover .MuiRadio-root {
  color: #70AD47;
}

.assessment-form-radio-group-container .MuiFormControlLabel-root:nth-child(3):hover .MuiRadio-root {
  color: #FFEA66;
}

.assessment-form-radio-group-container .MuiFormControlLabel-root:nth-child(4):hover .MuiRadio-root {
  color: #ED7D31;
}

.assessment-form-radio-group-container .MuiFormControlLabel-root:nth-child(5):hover .MuiRadio-root {
  color: #FF1D48;
}