:root {
  --primary-color: #f46a05;
  --secondary-color: #1706ac;
  --font-white: #fff;
  --font-black: #000;
  --input-bg: #686868;
  --bg-fade-signup: #d9d9d9;
  --container-bg: #FEF8F3;

}

.referencecheckquestiontitle {
  width: 85%;
  max-width: 1200px;
    margin: 0px 12px 0px 14px;
    padding: 0;

}
.referencecheckquestion-container {
  position: relative;
  width: 85%;
  max-width: 1200px;
  height: auto;
  max-height: 400px;
  background: var(--container-bg);
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0px #00000059;
}
.transcription-answer-container {
  width: 85%;
  max-width: 1200px;
  padding: 20px 40px;
  height: 230px !important;
  border-radius: 20px;
  height: auto;
  background: var(--container-bg);
  box-shadow: 0 4px 4px 0px #00000059;
}

.referencecheckquestion-container .question-container > .question-title {
  font-weight: 600 !important;
  height: auto !important;
}
.referencecheckquestion-container .question-container > p {
  overflow-y: auto;
  height: 50px;
  margin: 0;
}
.referencecheckquestion-container button {
  width: 200px;
  padding: 5px 25px 5px 30px;
  font-weight: 400;
  border: none;
  color: var(--font-white);
  border-radius: 50px;
  font-size: 25px;
  position: relative;
  background: var(--secondary-color) !important;
}

.referencecheckquestion-container button:disabled {
  background: var(--input-bg) !important;

  cursor: not-allowed;
}

.referencecheckquestion-container button > svg {
  position: relative !important;
  right: -40px !important;
}

.transcription-answer-container textarea {
  width: 100% !important;
  background: #d9d9d9;
  border-radius: 10px;
  border: none;
  padding: 20px;
  height: 55% !important;
  color: var(--input-bg);
  resize: none;
}
.transcription-answer-container button {
  padding: 5px 35px;
  font-weight: 400;
  width: 155px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: var(--font-white);
  border-radius: 50px;
  font-size: 15px;
  gap: 5px;
}
.transcription-answer-container button:nth-child(1) {
  background: var(--primary-color);
}
.transcription-answer-container button:nth-child(2) {
  background: var(--secondary-color) !important;
}
.btn-stop-transcript {
  background: var(--secondary-color) !important;
}
.transcription-answer-container button svg {
  height: 20px;
  position: relative;
  bottom: 2px;
}
.transcription-answer-container button.disabled {
  background: var(--input-bg) !important;

  cursor: not-allowed;
}

/* Customizing the scrollbar */
.referencecheckquestion-container .question-container > p::-webkit-scrollbar,
.transcription-answer-container textarea::-webkit-scrollbar  {
  width: 5px; /* Scrollbar width */
}

.referencecheckquestion-container
  .question-container
  > p::-webkit-scrollbar-thumb,
  .transcription-answer-container textarea::-webkit-scrollbar-thumb  {
  background-color: var(--primary-color); /* Scrollbar thumb color */
  border-radius: 6px; /* Rounded corners */
}

.referencecheckquestion-container
  .question-container
  > p::-webkit-scrollbar-thumb:hover,
  .transcription-answer-container textarea::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color); /* Scrollbar thumb color */
}

.referencecheckquestion-container
  .question-container
  > p::-webkit-scrollbar-track,
  .transcription-answer-container textarea::-webkit-scrollbar-track  {
  background-color: #f1f1f1; /* Track color */
  border-radius: 6px; /* Rounded corners for the track */
}

.category-progress-container {
  width: 90%;
    max-width: 1200px;
  padding: 0 20px;
}

.category-progress-container .bullet-progress {
  position: relative;
  padding: 0 10px;
  z-index: 0;
}


.category-progress-container .bullet-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.category-progress-container .bullet {
  width: 55px;
  height: 13px;
  border-radius: 50px;
  background: var(--bg-fade-signup);
  border: 2px solid var(--bg-fade-signup);
  position: relative;
}

.category-progress-container .bullet-circle {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background: var(--bg-fade-signup);
  border: 2px solid var(--bg-fade-signup);
}

.category-progress-container .bullet.active,
.category-progress-container .bullet-circle.active {
  border-color: var(--primary-color);
  background: var(--primary-color);
}

.category-progress-container .bullet.completed,
.category-progress-container .bullet-circle.completed {
  background: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

.category-progress-container .bullet-label {
  font-size: 11px;
  position: absolute;
  top: 20px;
  z-index: 3;
  width: auto;
  text-align: center;
  color: var(--font-black);
}

.category-progress-container .bullet-item:has(.bullet.active) .bullet-label {
  color: #ff6b00;
  font-weight: 600;
}


.category-progress-container .bullet-group .bullet-item:not(:first-child) .bullet-label {
  display: none;
}

.category-progress-container .bullet-group {
  display: flex;
  
  gap: .5rem;
  position: relative;
}
/* 
.category-progress-container .bullet-line {
  width: 1.5px;
  height: 10px;
  background-color: var(--font-black);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  z-index: 0;
}

.bullet-line-left {
  right: 50%;
  left: -30px;
}

.bullet-line-right {
  left: 50%;
  right: -30px;
}

.bullet-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

 */
