:root {
  --primary-color: #f46a05;
  --secondary-color: #1706ac;
  --font-white: #fff;
  --font-black: #000;
  --input-bg: #686868;
  --bg-fade-signup: #d9d9d9;
}

.referencecheckquestiontitle {
  width: 80%;
  max-width: 1300px;
}
.referencecheckquestion-container {
  position: relative;
  width: 80%;
  max-width: 1300px;
  height: auto;
  max-height: 400px;
  background: var(--font-white);
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0px #00000059;
}
.transcription-answer-container {
  width: 80%;
  max-width: 1300px;
  padding: 20px 40px;
  border-radius: 20px;
  height: auto;
  max-height: 400px;

  background: var(--font-white);
  box-shadow: 0 4px 4px 0px #00000059;
}
.referencecheckquestion-container .question-container > .question-title {
  font-weight: 600 !important;
  height: auto !important;
}
.referencecheckquestion-container .question-container > p {
  font-size: 24px;
  overflow-y: auto;
  max-height: 100px;
}
.referencecheckquestion-container button {
  width: 200px;
  padding: 5px 25px 5px 30px;
  font-weight: 400;
  border: none;
  color: var(--font-white);
  border-radius: 50px;
  font-size: 25px;
  position: relative;
  background: var(--secondary-color) !important;
}

.referencecheckquestion-container button:disabled {
  background: var(--input-bg) !important;

  cursor: not-allowed;
}

.referencecheckquestion-container button > svg {
  position: relative !important;
  right: -40px !important;
}

.transcription-answer-container textarea {
  width: 100% !important;
  background: #d9d9d9;
  border-radius: 10px;
  border: none;
  padding: 10px;
  height: 60% !important;
  color: var(--input-bg);
}
.transcription-answer-container button {
  background: var(--primary-color) !important;
  padding: 5px 35px;
  font-weight: 400;
  /* width: 200px; */
  border: none;
  color: var(--font-white);
  border-radius: 50px;
  font-size: 25px;
}
.transcription-answer-container button.disabled {
  background: var(--input-bg) !important;

  cursor: not-allowed;
}

/* Customizing the scrollbar */
.referencecheckquestion-container .question-container > p::-webkit-scrollbar {
  width: 5px; /* Scrollbar width */
}

.referencecheckquestion-container
  .question-container
  > p::-webkit-scrollbar-thumb {
  background-color: var(--primary-color); /* Scrollbar thumb color */
  border-radius: 6px; /* Rounded corners */
}

.referencecheckquestion-container
  .question-container
  > p::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color); /* Scrollbar thumb color */
}

.referencecheckquestion-container
  .question-container
  > p::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Track color */
  border-radius: 6px; /* Rounded corners for the track */
}
