:root {
  --primary-color: #f46a05;
  --secondary-color: #1706ac;
  --font-white: #fff;
  --font-black: #000;
  --input-bg: #686868;
  --bg-fade-signup: #d9d9d9;
  --container-bg: #fef8f3;
}
.ReviewYourReferenceCheck {
  height: 100vh;
  overflow: auto;
  /* padding: 0 !important;
  background: url("../../assets/bg.png");
  background-size: contain; */
}

.ReviewYourReferenceCheck-Row {
  
  width: 85%;
  max-width: 1200px;
}

.ReviewYourReferenceCheck-Row > .col-md-10 {
  padding: 0;
}
.ReviewYourReferenceCheckAnswer-left-container {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  width: 100%;
  height: 560px;
  background: var(--container-bg);
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0px #00000059;
  /* margin: 10vh 0vh !important; */
  position: relative;
  overflow: hidden; /* Ensure content doesn’t overflow the container */
}
.ReviewYourReferenceCheckAnswer-right-container {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  width: 100%;
  height: 560px;
  background: var(--container-bg);
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0px #00000059;
  /* margin: 10vh 0vh !important; */
  position: relative;
  overflow: hidden; /* Ensure content doesn’t overflow the container */
}
.ReviewYourReferenceCheck-container {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  width: 85%;
  max-width: 1200px;
  /* height: 540px; */
  margin: 0px 12px 0px 14px;
  background: var(--container-bg);
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0px #00000059;
  /* margin: 10vh 0vh !important; */
  position: relative;
  font-size: 14px;
  overflow: hidden; /* Ensure content doesn’t overflow the container */
}

.ReviewYourReferenceCheck-container.expanded {
  max-height: none; /* Allow it to expand */
  overflow-y: auto; /* Enable scrolling when expanded */
}

.ReviewYourReferenceCheck-container > p {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.ReviewYourReferenceCheck-container > p > span {
  font-size: 14px;
  font-weight: 400;
  color: var(--input-bg);
}

.question-container {
  margin-bottom: 20px;
}
.question-indicator {
  font-size: 1.2rem;
  font-weight: bold;
  width: 160px;
  border-bottom: 3px solid var(--primary-color);
}

.question-text {
  font-size: 16px;
  font-weight: 400;
  height: 70px;
}
.question-text-container{
  overflow: auto;
  max-height: 75%;
  word-wrap: break-word;  
}
.orig-label,
.ai-enhanced-label {
  color: var(--input-bg);
  font-weight: 300;
}
.orig-label button,
.ai-enhanced-label button {
  display: flex;
  gap: 5px;
  align-items: center;
  background: var(--secondary-color);
  border-radius: 50px;
  padding: 5px 20px;
  color: var(--font-white);
  border: none;
  font-size: 15px;
  /* width: 100px; */
}
.orig-label button > svg,
.ai-enhanced-label button > svg {
  height: 13px;
}

.answer-container {
  background: #f2f3f7;
  padding: 20px 10px 20px 20px;
  border-radius: 20px;
  height: 140px;
  margin: 0;
}
.answer-container .answer-text-container,
.ai-enhanced-answer-container .answer-text-container {
  overflow: auto;
  height: 100%;
  word-wrap: break-word;
}
.answer-container-extended {
  background: #f2f3f7;
  padding: 20px;
  border-radius: 20px;
  overflow: auto;
  height: 245px;
  word-wrap: break-word;
  margin: 0;
}
.ai-enhanced-answer-container {
  background: #319f4331;
  padding: 20px 10px 20px 20px;
  border-radius: 20px;
  height: 140px;

  width: 100%;
}
.answer-container textarea,
.ai-enhanced-answer-container textarea {
  width: 100%;
  padding: 10px;
  height: 89%;
  border: none;
  resize: none;
  border-radius: 10px;
  font-size: 14px;
  overflow-y: auto;
  color: var(--font-black);
}
.answer-container.edit {
  background: #f2f3f7;
  padding: 20px;
  border-radius: 20px;
  overflow-x: auto;
  height: 108px;
  word-wrap: break-word;
  margin: 1rem 0px;
}
.ai-enhanced-answer-container.edit {
  background: #319f4331;
  padding: 20px;
  border-radius: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 135px;

  width: 100%;
}

.answer-container p,
.ai-enhanced-answer-container p {
  margin: 0;
  padding: 0;
}
.ReviewYourReferenceCheck-box-item .action-buttons > button {
  border-radius: 50px;
  color: var(--font-white);
  border: none;
  font-size: 15px;
  width: 120px;
  height: 30px;
  text-align: center !important;
}
.ReviewYourReferenceCheck-box-item .action-buttons > button:nth-child(1) {
  background: var(--primary-color);
}

.ReviewYourReferenceCheck-box-item .action-buttons > button:nth-child(2) {
  background: var(--secondary-color);
}

.YourOriginalAns-container {
  background: #f2f3f7;
  padding: 15px;
  border-radius: 10px;
  overflow-y: auto;
  height: 500px !important;
}

.EnchanceAns-container {
  background: #319f432b;
  padding: 15px;
  border-radius: 10px;
  /* overflow-y: auto;
  height: 200px; */
}

.EnchanceAns-container p,
.YourOriginalAns-container p {
  margin: 0 !important;
  padding: 0;
}
.edit-save-button-container button {
  background: var(--secondary-color);
  border-radius: 50px;
  padding: 5px 30px;
  color: var(--font-white);
  border: none;
  font-size: 15px;
  width: 100px;
}
.edit-save-button-container .btn-save {
  background: var(--primary-color);
}
.edit-save-button-container .btn-edit {
  background: var(--secondary-color);
}
.ReviewYourReferenceCheck-dropdown-content button {
  background: #ffdcc2;
  border-radius: 50px;
  padding: 5px 30px;
  border: none;
}

.view-more-btn {
  align-self: center; /* Center the button horizontally */
  padding: 10px 20px;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1; /* Ensure the button stays above content */
}

.view-more-btn,
.reset-btn {
  font-size: 16px;
}

.reset-btn {
  background: var(--primary-color);
  font-size: 18px;
  border-radius: 50px;
  padding: 5px 60px;
  border: none;
  color: var(--font-white);
  margin-top: 20px;
}

/* Navigation Buttons Styling */
.navigation-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 30px;
  font-weight: 700;
}

.prev-btn,
.next-btn {
  color: var(--primary-color);
  cursor: pointer;
  margin: 0 2px;
  background: none;
  border: none;
}

.prev-btn:disabled,
.next-btn:disabled {
  color: var(--input-bg);
  cursor: not-allowed;
}

.prev-btn:hover,
.next-btn:hover {
  color: var(--primary-color);
}

.proceed-btn {
  padding: 5px 60px;
  background: var(--primary-color);
  color: var(--font-white);
  font-size: 16px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.proceed-btn:hover {
  background: var(--secondary-color);
}
/*Selection Part for original and ai-enhanced answer*/
.ReviewYourReferenceCheckAnswer-right-container > .answer-indicator-container {
  height: 20%;
}
.ReviewYourReferenceCheckAnswer-right-container
  > .answer-indicator-container
  > p {
  font-size: 14px;
}
.ReviewYourReferenceCheckAnswer-right-container > .buttons-container {
  height: 50%;
}

.ReviewYourReferenceCheckAnswer-right-container
  > .buttons-container
  button.active {
  background: var(--primary-color);
  color: var(--font-white);
}
.ReviewYourReferenceCheckAnswer-right-container > .button-controller-container {
  height: 30% !important;
}
.ReviewYourReferenceCheckAnswer-right-container
  > .button-controller-container
  button:disabled {
  background: var(--input-bg) !important;
}
.ReviewYourReferenceCheckAnswer-right-container
  > .button-controller-container
  > small {
  color: var(--input-bg);
  font-size: 10px;
  text-align: center;
  width: 100%;
}
.ReviewYourReferenceCheckAnswer-right-container
  > .button-controller-container
  button:nth-child(2) {
  color: var(--font-white);
  background: var(--secondary-color);
  border: none;
  border-radius: 50px;
  font-size: 15px;
  width: 120px;
  height: 30px;
}
.ReviewYourReferenceCheckAnswer-right-container
  > .button-controller-container
  button:nth-child(3) {
  color: var(--font-white);
  background: var(--primary-color);
  font-size: 15px;

  border: none;
  border-radius: 50px;
  width: 120px;
  height: 30px;
}

/* signature draw/image upload */

.ReviewYourReferenceCheck-container .preferred-id-container > select {
  width: 100%;
  height: 40px;
  border-radius: 50px;
  padding: 0px 20px 0px 10px;
  box-shadow: 0 4px 4px 0px #00000059;
}

.btn-no-skip,
.btn-no-preview {
  background: var(--secondary-color);
  width: 120px;
  border-radius: 50px;
  color: var(--font-white);
  border: none;
  padding: 8px 30px; /* Adjusted padding */
}
.btn-yes-skip ,
.btn-yes-preview {

  background: var(--primary-color);
  width: 120px;
  border-radius: 50px;
  color: var(--font-white);
  border: none;
  padding: 8px 30px; /* Adjusted padding */
}

.preferred-id-container,
.upload-id-container,
.IdUploadSection-disclaimer {
  width: 70%;
}

.back-id-container {
  height: 120px;
}
.preferred-id-container > p,
.selection-container > p,
.drawing-container > p,
.file-upload-container > p,
.upload-id-container > p,
.front-id-container > p,
.back-id-container > p,
.camera-verification-container p {
  font-weight: bold;
}

.drawing-container .front-id-container,
.drawing-container .back-id-container,
.camera-verification-container .upload-section {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0px #00000059;
}
.front-id-container > div,
.back-id-container > div {
  border-radius: 10px;
  background-color: var(--font-white);
  box-shadow: 0 4px 4px 0px #00000059;
  padding: 20px;
}
.front-id-container > div button,
.back-id-container > div button,
.front-id-container > div input,
.back-id-container > div input,
.camera-verification-container .upload-section button,
.camera-verification-container .upload-section input,
.camera-verification-option-container .take-a-photo-container button {
  background: var(--secondary-color);
  width: 175px;
  font-size: 12px;
  border-radius: 50px;
  color: var(--font-white);
  border: none;
  padding: 8px 30px; /* Adjusted padding */
}
.front-id-container > div button:disabled,
.back-id-container > div button:disabled,
.front-id-container > div input:disabled,
.back-id-container > div input:disabled,
.camera-verification-container > div > .btn-capture:disabled,
.camera-verification-container .upload-section button:disabled,
.camera-verification-option-container .take-a-photo-container button:disabled {
  background: var(--input-bg) !important;
  cursor: not-allowed;
}
.front-id-img-container,
.back-id-img-container {
  width: 60%;
  font-size: 12px;
}
.IdUploadSection-button-controls > button,
.preview-controls > button {
  width: 150px !important;
  padding: 5px 35px;
  font-size: 15px;
  border-radius: 50px;
  border: none;
  color: var(--font-white);
  font-weight: 600;
}
.IdUploadSection-button-controls > button:disabled,
.preview-controls > button:disabled {
  background: var(--input-bg) !important;
}
.IdUploadSection-button-controls > button:nth-child(1),
.preview-controls > button:nth-child(1) {
  background: var(--secondary-color);
}
.IdUploadSection-button-controls > button:nth-child(2),
.preview-controls > button:nth-child(2) {
  background: var(--primary-color);
}
.IdUploadSection-disclaimer {
  background-color: var(--font-white);
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  padding: 20px;
  font-size: 9.5px;
  box-shadow: 0 4px 4px 0px #00000059;
}
.IdUploadSection-disclaimer svg {
  height: 18px;
  width: 18px;
}

.camera-verification-container {
  width: 100%;
}
.camera-verification-container .upload-section {
  background-color: var(--font-white);
  border-radius: 10px;
  border: 1px solid var(--input-bg);
  padding: 20px;
}
.camera-verification-container .video-container {
  position: relative;
  display: inline-block;
  width: 600px;
  height: 340px;
  border-radius: 10px;
}
.camera-verification-container > div > button {
  padding: 5px 30px;
  font-size: 15px;
  border-radius: 50px;
  border: none;
  color: var(--font-white);
  font-weight: 600;
}
.camera-verification-container > div > button svg {
  width: 18px;
}
.camera-verification-container > div > .btn-switch-camera {
  background: var(--primary-color);
}
.camera-verification-container .btn-capture {
  background: transparent;
  position: absolute;
  bottom: 20px;
  z-index: 7;
  right: 45%;
  left: 45%;

  border: none;
  font-weight: 600;
  transition: all 0.3s ease;
}
.camera-verification-container .btn-capture svg {
  height: 40px;
  width: 40px;
}
.camera-verification-container .btn-capture:hover svg path {
  fill: var(--primary-color) !important;
  transition: fill 0.3s ease;
}

.camera-verification-container > div > .btn-switch-upload {
  background: var(--secondary-color) !important;
}

.camera-verification-container .video-container video {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transform: scaleX(-1);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.423);
}
.camera-verification-container .overlay-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 10px;
  height: 100% !important;
  pointer-events: none;
  z-index: 2;

  /* Needed to allow blending to take effect */
  isolation: isolate;
}
.camera-verification-container .camera-request {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 4;
  background: #000000d7;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  justify-content: center;
  flex-direction: column;
  color: var(--font-white);
  /* Needed to allow blending to take effect */
  isolation: isolate;
}
.camera-verification-container .camera-request button {
  padding: 5px 30px;
  font-size: 15px;
  border-radius: 50px;
  border: none;
  color: var(--font-white);
  font-weight: 400;
  background: var(--primary-color);
}
.camera-verification-container .cutout-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  border-radius: 10px;

  height: 290px;
  z-index: 2;
  pointer-events: none;
}

.camera-verification-container .face-box,
.camera-verification-container .id-box {
  position: absolute;
  border: 2px dashed white;
  background: transparent;
  z-index: 4; /* On top of the mask */
}

.camera-verification-container .face-box {
  width: 120px;
  height: 160px;
  border-radius: 50%;
  top: 45%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.camera-verification-container .id-box {
  width: 120px;
  height: 70px;
  top: 60%;
  left: 70%;
  transform: translate(-50%, -50%);
}

/* Labels */
.camera-verification-container .face-box .label {
  position: absolute;
  top: -20px;
  width: 150px;
  left: 60%;
  transform: translateX(-50%);
  color: white;
  font-size: 10px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}
.camera-verification-container .id-box .label {
  position: absolute;
  bottom: -20px;
  width: 150px;
  left: 62%;
  transform: translateX(-50%);
  color: white;
  font-size: 10px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}

.camera-verification-container .tip {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 10px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
  z-index: 3;
}
.camera-error,
.camera-request,
.camera-initializing {
  color: var(--font-white);
  border-radius: 10px;
}
.camera-error button,
.camera-request button {
  background: var(--primary-color);
  color: var(--font-white);
  border-radius: 50px;
  border: none;
}
.camera-initializing .spinner-border {
  color: var(--primary-color) !important;
}
/* Customizing the scrollbar */
.answer-text-container::-webkit-scrollbar,
.ai-enhanced-answer-container::-webkit-scrollbar,
.question-text-container::-webkit-scrollbar {
  width: 6px; /* Scrollbar width */
}

.answer-text-container::-webkit-scrollbar-thumb,
.ai-enhanced-answer-container::-webkit-scrollbar-thumb,
.question-text-container::-webkit-scrollbar-thumb {
  background-color: var(--primary-color); /* Scrollbar thumb color */
  border-radius: 6px; /* Rounded corners */
}

.answer-text-container::-webkit-scrollbar-thumb:hover,
.ai-enhanced-answer-container::-webkit-scrollbar-thumb:hover,
.question-text-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color); /* Scrollbar thumb color */
}

.answer-text-container::-webkit-scrollbar-track,
.ai-enhanced-answer-container::-webkit-scrollbar-track,
.question-text-container::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Track color */
  border-radius: 6px; /* Rounded corners for the track */
}

.camera-verification-option-container {
  width: 70%;
}
.camera-verification-option-container .row {
  height: 170px;
}
.take-a-photo-container {
  border: 2px solid var(--font-black);
  border-style: dashed;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--font-white);
  gap: 10px;
}
.or-container {
  height: 170px;
}
.or-container::before {
  content: "";
  width: 1px;
  height: 100%;
  border-left: 1px solid var(--font-black);
}

.or-container > div {
  position: absolute;
  z-index: 1;
  padding: 5px;
  background: var(--font-white);
  font-size: 20px;
  width: 50px;
  border: 1px solid var(--font-black);
}

.custom-modal-skip-confirmation .modal-dialog {
  max-width: 550px !important;
  height: 380px;
}
.custom-modal-take-picture .modal-dialog {
  width: 70% !important;
  max-width: 700px !important;
  height: 380px;
}
.custom-modal-take-picture .modal-content {
  padding: 20px;
}

.preview-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 340px;
  z-index: 3;
  border-radius: 10px;
  overflow: hidden;
}

.preview-controls {
  margin-top: 20px;
}

.preview-controls button {
  min-width: 120px;
}
.preferred-id-container .label-number,
.camera-verification-option-container .label-number {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 1px 0px 0px;
  border-radius: 50px;
  width: 18px;
  height: 18px;
  background-color: #f46a05;
  font-size: 12px;
  color: var(--font-white);
}
.camera-verification-option-container p {
  font-weight: 600;
}
/* Customizing the scrollbar */
.ReviewYourReferenceCheck::-webkit-scrollbar {
  width: 12px; /* Scrollbar width */
}

.ReviewYourReferenceCheck::-webkit-scrollbar-thumb {
  background-color: var(--primary-color); /* Scrollbar thumb color */
  border-radius: 12px; /* Rounded corners */
}

.ReviewYourReferenceCheck::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color); /* Scrollbar thumb color */
}

.ReviewYourReferenceCheck::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Track color */
  border-radius: 6px; /* Rounded corners for the track */
}

.QuestionPreview-section {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  width: 100%;
  max-width: 1200px;
  height: 560px;
  margin: 0px 12px 0px 14px;
  /* height: 540px; */
  background: var(--container-bg);
  padding: 20px 20px 20px 40px;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0px #00000059;
  /* margin: 10vh 0vh !important; */

}
.QuestionPreview-container{
  height: 100%;
  overflow: auto; /* Ensure content doesn’t overflow the container */
padding-right: 10px;
}
.QuestionPreview-section .btn-continue{
  color: var(--font-white);
  background: var(--primary-color);
  font-size: 15px;
padding: 0;
  border: none;
  border-radius: 50px;
  width: 120px;
  height: 30px;
}
.category-title {
  color: #333;
  font-weight: 600;
}

.answer-box {
  background-color: #f8f9fa;
  border-radius: 4px;
  border: 1px solid #dee2e6;
}

.answer-type {
  color: #6c757d;
  font-weight: 500;
}

.answer-type-btn {
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background: white;
  transition: all 0.3s ease;
}

.answer-type-btn:hover {
  border-color: var(--primary-color);
}

.answer-type-btn.selected {
  background: var(--primary-color);
  color: white;
  border-color: var(--primary-color);
}

/* Customizing the scrollbar */
.QuestionPreview-container::-webkit-scrollbar,
.answer-textarea::-webkit-scrollbar {
  width: 8px; /* Scrollbar width */
}

.QuestionPreview-container::-webkit-scrollbar-thumb,
.answer-textarea::-webkit-scrollbar-thumb {
  background-color: var(--primary-color); /* Scrollbar thumb color */
  border-radius: 12px; /* Rounded corners */
}

.QuestionPreview-container::-webkit-scrollbar-thumb:hover,
.answer-textarea::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color); /* Scrollbar thumb color */
}

.QuestionPreview-container::-webkit-scrollbar-track,
.answer-textarea::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Track color */
  border-radius: 6px; /* Rounded corners for the track */
}
