:root {
  --primary-color: #f46a05;
  --secondary-color: #1706ac;
  --font-white: #fff;
  --font-black: #000;
  --input-bg: #686868;
  --bg-fade-signup: #d9d9d9;
}
.ReviewYourReferenceCheck{
  height: 100vh;
  overflow: auto;
  padding: 0 !important;
  background: url("../../assets/bg.png");
  background-size: contain;
}
.ReviewYourReferenceCheck-Row {
  display: flex;
  width: 85%;
  max-width: 1200px;
  /* height: 90vh !important; */
}

.ReviewYourReferenceCheck-Row > .col-md-10 {
  padding: 0;
}
.ReviewYourReferenceCheckAnswer-left-container {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  width: 100%;
  height: 540px;
  background: var(--font-white);
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0px #00000059;
  /* margin: 10vh 0vh !important; */
  position: relative;
  overflow: hidden; /* Ensure content doesn’t overflow the container */
}
.ReviewYourReferenceCheckAnswer-right-container {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  width: 100%;
  height: 540px;
  background: var(--font-white);
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0px #00000059;
  /* margin: 10vh 0vh !important; */
  position: relative;
  overflow: hidden; /* Ensure content doesn’t overflow the container */
}
.ReviewYourReferenceCheck-container {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  width: 85%;
  max-width: 1400px;
  height: 540px;
  background: var(--font-white);
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0px #00000059;
  /* margin: 10vh 0vh !important; */
  position: relative;
  overflow: hidden; /* Ensure content doesn’t overflow the container */
}

.ReviewYourReferenceCheck-container.expanded {
  max-height: none; /* Allow it to expand */
  overflow-y: auto; /* Enable scrolling when expanded */
}

.ReviewYourReferenceCheck-container > p {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.ReviewYourReferenceCheck-container > p > span {
  font-size: 14px;
  font-weight: 400;
  color: var(--input-bg);
}

.question-container {
  margin-bottom: 20px;
}
.question-indicator {
  font-size: 1.2rem;
  font-weight: bold;
  width: 160px;
  border-bottom: 3px solid var(--primary-color);
}


.question-text {
  font-size: 16px;
  font-weight: 400;
}
.orig-label,
.ai-enhanced-label {
  color: var(--input-bg);
  font-weight: 300;
}
.orig-label button,
.ai-enhanced-label button{
display: flex;
gap: 5px;
align-items: center;
background: var(--secondary-color);
border-radius: 50px;
padding: 5px 20px;
color: var(--font-white);
border: none;
font-size: 15px;
/* width: 100px; */
}
.orig-label button > svg,
.ai-enhanced-label button >  svg{
  height: 13px;
}
.answer-container,
.ai-enhanced-answer-container {
  margin-bottom: 15px;
}
.answer-container {
  background: #f2f3f7;
  padding: 20px;
  border-radius: 20px;
  overflow-x: auto;
  height: 155px;
  min-height: 130px;
  word-wrap: break-word;
  margin: 0;
}
.answer-container-extended {
  background: #f2f3f7;
  padding: 20px;
  border-radius: 20px;
  overflow-x: auto;
  height: 245px;
  word-wrap: break-word;
  margin: 0;
}
.ai-enhanced-answer-container {
  background: #319f4331;
  padding: 20px;
  border-radius: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 155px;
  min-height: 130px;

  width: 100%;
}
.answer-container textarea,
.ai-enhanced-answer-container textarea {
  width: 100%;
  padding: 10px;
  height: 80px;
  border: 1px solid var(--input-bg);
  border-radius: 10px;
  font-size: 14px;
  overflow-y: auto;
  color: var(--font-black);
}
.answer-container.edit{
  background: #f2f3f7;
  padding: 20px;
  border-radius: 20px;
  overflow-x: auto;
  height: 120px;
  word-wrap: break-word;
  margin: 0;
}
.ai-enhanced-answer-container.edit{
  background: #319f4331;
  padding: 20px;
  border-radius: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 120px;

  width: 100%;
}


.answer-container p,
.ai-enhanced-answer-container p {
  margin: 0;
  padding: 0;
}
.ReviewYourReferenceCheck-box-item .action-buttons > button {

border-radius: 50px;
padding: 5px 20px;
color: var(--font-white);
border: none;
font-size: 15px;
width: 100px;
text-align: center !important;
}
.ReviewYourReferenceCheck-box-item .action-buttons > button:nth-child(1) {
  background: var(--primary-color);
}

.ReviewYourReferenceCheck-box-item .action-buttons > button:nth-child(2) {
  background: var(--secondary-color);
}

.YourOriginalAns-container {
  background: #f2f3f7;
  padding: 15px;
  border-radius: 10px;
  overflow-y: auto;
  height: 500px !important;
}

.EnchanceAns-container {
  background: #319f432b;
  padding: 15px;
  border-radius: 10px;
  /* overflow-y: auto;
  height: 200px; */
}

.EnchanceAns-container p,
.YourOriginalAns-container p {
  margin: 0 !important;
  padding: 0;
}
.edit-save-button-container button {
  background: var(--secondary-color);
  border-radius: 50px;
  padding: 5px 30px;
  color: var(--font-white);
  border: none;
  font-size: 15px;
  width: 100px;
}
.edit-save-button-container .btn-save{
  background: var(--primary-color);
}
.edit-save-button-container .btn-edit{
  background: var(--secondary-color);
}
.ReviewYourReferenceCheck-dropdown-content button {
  background: #ffdcc2;
  border-radius: 50px;
  padding: 5px 30px;
  border: none;
}

.view-more-btn {
  align-self: center; /* Center the button horizontally */
  padding: 10px 20px;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1; /* Ensure the button stays above content */
}

.view-more-btn,
.reset-btn {
  font-size: 16px;
}

.reset-btn {
  background: var(--primary-color);
  font-size: 18px;
  border-radius: 50px;
  padding: 5px 60px;
  border: none;
  color: var(--font-white);
  margin-top: 20px;
}

/* Navigation Buttons Styling */
.navigation-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 30px;
  font-weight: 700;
}

.prev-btn,
.next-btn {
  color: var(--primary-color);
  cursor: pointer;
  margin: 0 2px;
  background: none;
  border: none;
}

.prev-btn:disabled,
.next-btn:disabled {
  color: var(--input-bg);
  cursor: not-allowed;
}

.prev-btn:hover,
.next-btn:hover {
  color: var(--primary-color);
}

.proceed-btn {
  padding: 5px 60px;
  background: var(--primary-color);
  color: var(--font-white);
  font-size: 16px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.proceed-btn:hover {
  background: var(--secondary-color);
}
/*Selection Part for original and ai-enhanced answer*/
.ReviewYourReferenceCheckAnswer-right-container > .answer-indicator-container {
  height: 20%;
}
.ReviewYourReferenceCheckAnswer-right-container
  > .answer-indicator-container
  > p {
  font-size: 14px;
}
.ReviewYourReferenceCheckAnswer-right-container > .buttons-container {
  height: 50%;
}

.ReviewYourReferenceCheckAnswer-right-container
  > .buttons-container
  button.active {
  background: var(--primary-color);
  color: var(--font-white);
}
.ReviewYourReferenceCheckAnswer-right-container > .button-controller-container {
  height: 30% !important;
}
.ReviewYourReferenceCheckAnswer-right-container > .button-controller-container button:disabled{
background: var(--input-bg) !important;
}
.ReviewYourReferenceCheckAnswer-right-container
  > .button-controller-container > small{
    color: var(--input-bg);
    font-size: 10px;
    text-align: center;
    width: 100%;
  }
.ReviewYourReferenceCheckAnswer-right-container
  > .button-controller-container
  button:nth-child(2) {
  color: var(--font-white);
  background: var(--secondary-color);
  border: none;
  border-radius: 50px;
  font-size: 15px;
  width: 120px;
  height: 30px;
}
.ReviewYourReferenceCheckAnswer-right-container
  > .button-controller-container
  button:nth-child(3) {
  color: var(--font-white);
  background: var(--primary-color);
  font-size: 15px;

  border: none;
  border-radius: 50px;
  width: 120px;
  height: 30px;
}





/* signature draw/image upload */
.ReviewYourReferenceCheck-container .selection-container,
.ReviewYourReferenceCheck-container .preferred-id-container{
  width: 70%;
}
.ReviewYourReferenceCheck-container .selection-container > select,
.ReviewYourReferenceCheck-container .preferred-id-container > select  {
  width: 60%;
  height: 40px;
  border-radius: 50px;
  padding: 0px 20px 0px 10px;
  box-shadow: 0 4px 4px 0px #00000059;

}
.drawing-container{
  width: 70%;
  
}
.drawing-container > .drawing-container-box {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0px #00000059;

}
.file-upload-container{
  width: 70%;

}
.file-upload-area {
  border-radius: 10px;
  box-shadow: 0 4px 4px 0px #00000059;

}
.file-upload-container button {
  width: 200px;
  height: 40px;
  border-radius: 50px;
  border: none;
  color: var(--font-white);
  font-weight: 600;
  background: var(--secondary-color);
}
.drawing-container > .drawing-container-box > canvas {
  border-radius: 10px !important;
  width: 100%;
}
.ReviewYourReferenceCheck-button-controls > button {
  width: 150px !important;
  padding: 5px 35px;
  font-size: 15px;
  border-radius: 50px;
  border: none;
  color: var(--font-white);
  font-weight: 600;
  
}
.ReviewYourReferenceCheck-button-controls > button:nth-child(1) {
  background: var(--primary-color);
}
.ReviewYourReferenceCheck-button-controls > button:nth-child(2) {
  background: var(--secondary-color);
}
.btn-proceed-submit:disabled {
  background: var(--input-bg) !important;
  cursor: not-allowed;
}
.signature-feild {
  background: var(--font-white);
  width: 300px;
  height: 100px;
  border-bottom: 1px solid var(--font-black);
}
.btn-no-skip{
  background: var(--secondary-color);
  width: 120px;
  border-radius: 50px;
  color: var(--font-white);
  border: none;
  padding: 8px 30px; /* Adjusted padding */

}
.btn-yes-skip{
  background: var(--primary-color);
  width: 120px;
  border-radius: 50px;
  color: var(--font-white);
  border: none;
  padding: 8px 30px; /* Adjusted padding */
}

.preferred-id-container,
.upload-id-container,
.IdUploadSection-disclaimer{
  width: 70%;
}

.back-id-container {
  height: 120px;
}
.preferred-id-container > p,
.selection-container > p,
.drawing-container > p,
.file-upload-container > p,
.upload-id-container > p,
.front-id-container > p,
.back-id-container > p{
  font-weight: bold;
}

.drawing-container  .front-id-container,
.drawing-container  .back-id-container,
.camera-verification-container .upload-section {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0px #00000059;
}
.front-id-container > div,
 .back-id-container > div{
  background: #F2F3F7;
border-radius: 10px;
border: 1px solid var(--input-bg);
padding: 20px;

}
.front-id-container > div button,
.back-id-container > div button,
.front-id-container > div input,
.back-id-container > div input,
.camera-verification-container .upload-section button,
.camera-verification-container .upload-section input

{
  background: var(--secondary-color);
  width: 170px;
  font-size: 15px;
  border-radius: 50px;
  color: var(--font-white);
  border: none;
  padding: 8px 30px; /* Adjusted padding */
}
.front-id-container > div button:disabled ,
.back-id-container > div button:disabled ,
.front-id-container > div input:disabled ,
.back-id-container > div input:disabled,
.camera-verification-container > div > .btn-capture:disabled,
.camera-verification-container .upload-section button:disabled {
  background: var(--input-bg) !important;
  cursor: not-allowed;

}
.front-id-img-container,
.back-id-img-container{
width: 80%;
}
.IdUploadSection-button-controls > button,
.preview-controls > button {
  width: 150px !important;
  padding: 5px 35px;
  font-size: 15px;
  border-radius: 50px;
  border: none;
  color: var(--font-white);
  font-weight: 600;
  
}
.IdUploadSection-button-controls > button:disabled ,
.preview-controls > button:disabled{
background: var(--input-bg) !important;
  
}
.IdUploadSection-button-controls > button:nth-child(1),
.preview-controls > button:nth-child(1)  {
  background: var(--secondary-color);

}
.IdUploadSection-button-controls > button:nth-child(2),
.preview-controls > button:nth-child(2) {
  background: var(--primary-color);

}
.IdUploadSection-disclaimer{
  background: #F2F3F7;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  padding: 20px;
  font-size: 12px;
}
.IdUploadSection-disclaimer svg{
  height: 25px;
  width: 25px;
}

.camera-verification-container{
  width: 70%;
}
.camera-verification-container .upload-section{
  background: #F2F3F7;
  border-radius: 10px;
  border: 1px solid var(--input-bg);
  padding: 20px;
}
.camera-verification-container .video-container {
  position: relative;
  display: inline-block;
  width: 440px;
  height: 250px;
}
.camera-verification-container > div > button{
  padding: 5px 30px;
  font-size: 15px;
  border-radius: 50px;
  border: none;
  color: var(--font-white);
  font-weight: 600;
}
.camera-verification-container > div > button svg{
  width: 18px;
}
.camera-verification-container > div > .btn-switch-camera{
  background: var(--primary-color);

}
.camera-verification-container > div > .btn-capture{
  background: var(--primary-color);


}
.camera-verification-container > div > .btn-switch-upload{
  background: var(--secondary-color);

}

.camera-verification-container .video-container video {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.423);
}
.camera-verification-container .overlay-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;

  /* Needed to allow blending to take effect */
  isolation: isolate;
}
.camera-verification-container .camera-request{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 4;
  background: #000000d7;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  justify-content: center;
  flex-direction: column;
color: var(--font-white);
  /* Needed to allow blending to take effect */
  isolation: isolate;
}
.camera-verification-container .camera-request button{
  padding: 5px 30px;
  font-size: 15px;
  border-radius: 50px;
  border: none;
  color: var(--font-white);
  font-weight: 400;
  background: var(--primary-color);
}
.camera-verification-container .cutout-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 440px;
  height: 250px;
  z-index: 2;
  pointer-events: none;
}

.camera-verification-container .face-box,
.camera-verification-container .id-box {
  position: absolute;
  border: 2px dashed white;
  background: transparent;
  z-index: 4; /* On top of the mask */
}

.camera-verification-container .face-box {
  width: 120px;
  height: 160px;
  border-radius: 50%;
  top: 45%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.camera-verification-container .id-box {
  width: 120px;
  height: 70px;
  top: 60%;
  left: 70%;
  transform: translate(-50%, -50%);
}

/* Labels */
.camera-verification-container .face-box .label {
  position: absolute;
  top: -20px;
  width: 150px;
  left: 60%;
  transform: translateX(-50%);
  color: white;
  font-size: 10px;
  text-shadow: 0 0 4px rgba(0,0,0,0.8);
}
.camera-verification-container  .id-box .label{
  position: absolute;
  bottom: -20px;
  width: 150px;
  left: 70%;
  transform: translateX(-50%);
  color: white;
  font-size: 10px;
  text-shadow: 0 0 4px rgba(0,0,0,0.8);
}

.camera-verification-container .tip {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 10px;
  text-shadow: 0 0 4px rgba(0,0,0,0.8);
  z-index: 3;
}


/* Customizing the scrollbar */
.answer-container::-webkit-scrollbar,
.ai-enhanced-answer-container::-webkit-scrollbar {
  width: 8px; /* Scrollbar width */
}

.answer-container::-webkit-scrollbar-thumb,
.ai-enhanced-answer-container::-webkit-scrollbar-thumb {
  background-color: var(--primary-color); /* Scrollbar thumb color */
  border-radius: 6px; /* Rounded corners */
}

.answer-container::-webkit-scrollbar-thumb:hover,
.ai-enhanced-answer-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color); /* Scrollbar thumb color */
}

.answer-container::-webkit-scrollbar-track,
.ai-enhanced-answer-container::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Track color */
  border-radius: 6px; /* Rounded corners for the track */
}
