:root {
  --primary-color: #f46a05;
  --secondary-color: #1706ac;
  --font-white: #fff;
  --font-black: #000;
  --input-bg: #686868;
  --bg-fade-signup: #d9d9d9;
}

.company-reg-container i {
  font-size: 13px;
}
.company-registration-container {
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
  background-color: #fff;
  
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.company-registration-container-form {
  width: 70%;
  max-width: 730px;
  border-radius: 20px;
  border: 1px solid #dedede;

}
.form-company-reg {
  padding: 10px 100px 30px 100px;
  border-radius: 0px 0px 20px 20px;
  background: var(--font-white);
  font-size: 13px;
}
.company-reg-title {
  border-radius: 20px 20px 0px 0px;
  background: var(--primary-color);
  padding: 30px 100px;
  color: var(--font-white);
  position: relative;
  top: 0;
  left: 0;
  width: 100%; /* Ensures full width */
  border: none;
  margin: 0 !important;
  z-index: 1000;
  background: linear-gradient(97deg, rgba(255,157,85,1) 0%, rgba(245,110,11,1) 79%, rgba(244,106,5,1) 100%);
}
.company-reg-title::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("data:image/svg+xml,%3Csvg width='840' height='94' viewBox='0 0 840 94' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M221.852 62.0905C84.842 103.624 36.3506 89.637 0 73.6387V94H839.634C839.634 94 840.458 88.9351 839.634 29.0375C838.81 -30.8601 672.713 13.7905 555.032 56.4972C453.636 93.2935 404.167 75.2593 338.27 55.3041C305.143 49.3553 269.226 47.7296 221.852 62.0905Z' fill='url(%23paint0_linear_4743_3357)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_4743_3357' x1='786.642' y1='60.0643' x2='18.0063' y2='58.5658' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F46A05'/%3E%3Cstop offset='0.925' stop-color='%23FFDCC2'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E") no-repeat left bottom -5px !important;
  background-size: 100% !important;
  z-index: -1;
  
}
.company-reg-title > p {
  font-weight: 200 !important;
  font-size: 13px;
}
.company-registration-container-form input[type="text"],
.company-registration-container-form input[type="email"],
.company-registration-container-form input[type="password"],
.company-registration-container-form select {
  border-radius: 20px;
  border: 1px solid var(--primary-color);
  color: var(--input-bg);
  background: var(--font-white);
  height: 30px;
  font-size: 13px;
}
.company-registration-container-form input.is-invalid{
  background-image: none !important;
}
.company-registration-container-form .toggle-password > svg {
  transform: translateY(-60%) !important;
}
.company-registration-container-form select {
  appearance: none;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"%3E%3Cpath fill="none" stroke="%23000000" stroke-width="1.2" d="M1 4l5 5 5-5"%3E%3C/path%3E%3C/svg%3E'); /* SVG down arrow */
  background-position: right 15px center;
  background-repeat: no-repeat;
  padding-right: 40px; /* Adjust to make space for the icon */
}
.company-registration-container-form select:focus {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"%3E%3Cpath fill="none" stroke="%23000000" stroke-width="1.2" d="M1 8l5-5 5 5"%3E%3C/path%3E%3C/svg%3E'); /* SVG up arrow (flipped) */
}
.company-registration-container-form label {
  margin: 0;
}
.company-registration-container-form .toggle-password {
  position: absolute;
  right: 8px;
  top: 75%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}
.company-registration-container-form button {
  background: var(--secondary-color);
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
  color: var(--font-white);
}
.register-company-btn.disable {
  cursor: not-allowed !important;
  background: #1706ac92;
}
.companyregisteravatar {
  height: 55%;
  position: absolute;
  bottom: 20px;
  right: -30px;
}
.company-registration-container-form .invalid-feedback {
  left: 12px;
}
.form-company-reg input[type="checkbox"]:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  
}
.form-company-reg input[type="checkbox"]:focus {
  border-color: var(--primary-color);
  outline: 0;
  box-shadow: 0 0 0 .25rem #f4690554;
}