:root {
    --primary-color: #f46a05;
    --secondary-color: #1706ac;
    --font-white: #fff;
    --card-color: #686868;
    --avatar-bg: #68686882;
    --text-color: #000;
    --sidebar-bg: #F2F3F7;
    
}
.ai-reference-sidebar-container{
    width: 20%;
    background: var(--sidebar-bg);
    padding: 0 !important;
}
.ai-reference-sidebar{
    width: 100%;

}
.company-name{
    border-bottom: 2px solid var(--primary-color);
}