:root {
  --primary-color: #f46a05;
  --secondary-color: #1706ac;
  --font-white: #fff;
  --card-color: #686868;
  --avatar-bg: #68686882;
  --text-color: #000;
  --sidebar-bg: #f2f3f7;
}
.AiReferecenceContent {
  height: 100vh !important;
}
/*Ai Reference BG*/
/* .AiReferencebg{
    background-size: cover;
} */
.aiReferenceContainer {
  width: 100% !important;
  height: 100vh !important;
  background: url("../assets/image.png");
}

/*Ai Reference Sidebar*/
.LogoBrand {
  margin: 0 !important;
  width: 211px;
  height: 75px;
}
.ai-reference-sidebar-container {
  width: 355px;
  /* height: 100vh; */
  background: var(--sidebar-bg) !important;
  padding: 30px !important;
}
.ai-reference-sidebar {
  width: 100%;
}
.company-name {
  border-bottom: 3px solid var(--primary-color);
}
.active-link {
  color: var(
    --primary-color
  ) !important; /* This will make the active link orange */
  font-weight: bold; /* Optionally, you can make it bold */
}
.active-link:focus,
.active-link:active {
  background: transparent !important;
}
/*AiReference Maindashboard*/
.AiReferenceMaindashboard {
  padding: 30px;
}
.AiReferenceMaindashboard > h3 {
  color: var(--primary-color);
}
.AiReferenceMaindashboard p {
  margin-bottom: 20px;
}

.AiReferenceCard {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between cards */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 150px;
  background: var(--font-white);
}
.AiReferenceCard > div p {
  font-weight: 500;
  height: 10%;
  margin: 0;
}
.AiReferenceCard .title {
  font-weight: bold !important;
  color: var(--card-color);
}

.AiReferenceCard .count {
  font-size: 35px !important;
  font-weight: bold !important;
  margin: 0;
  height: 90%;
  width: 100%;
}

.AiReferenceCard .value {
  font-size: 35px !important;
  font-weight: bold !important;
  margin: 0;
  padding-top: 10%;
  height: 70%;
  width: 100%;
}
.AiReferenceCard small {
  color: var(--card-color);
}

/*Line/Bar Chart*/
.line-bar-chart-container {
  width: 100%;
  height: 40vh;
  background: #b8c4ce;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.line-chart,
.bar-chart {
  height: 100% !important;
  width: 100%;
  background: var(--font-white) !important;
  border-radius: 10px;
  border-radius: 10px;
  position: relative;
  padding: 40px 20px 20px 20px;
}
.line-title-overlay,
.bar-title-overlay {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
}

/* Ensure the canvas takes full width */
.bar-chart > canvas {
  width: 100% !important; /* Ensure the canvas takes full width */
  height: auto !important; /* Maintain aspect ratio */
}
.status-labels {
  padding: 20px;
  background: #b8c4ce;
  border-radius: 10px;
}

.pie-labels {
  position: absolute;
  z-index: 1;
  right: 20%;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pie-labels li {
  font-size: inherit;
  line-height: 2;
  position: relative;
}

.pie-labels p {
  margin: 0;
  font-size: 15px;
  color: var(--avatar-bg) !important;
}

.LogContainer {
  background: var(--font-white);
  border: 1px solid var(--font-black) !important;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}
.LogContainer > div > a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 400;
}
.list-log-container {
  padding: 10px; /* Optional: Add padding */
  border-radius: 5px; /* Optional: Rounded corners */
}

.log-item .avatar-letter  {
  width: 40px; /* Set a fixed width for images */
  height: 40px; /* Set a fixed height for images */
  border-radius: 50%; /* Make images circular */
  background: var(--card-color);
  color: var(--font-white);
  font-weight: 500;
  font-size: 20px;
}
