:root {
  --primary-color: #f46a05;
  --secondary-color: #1706ac;
  --font-white: #fff;
  --input-bg: #686868;
  --bg-fade-signup: #d9d9d9;
  --font-black: #000;
}
.main-container2 {
  padding: 0 !important;
}
.MockMainDashboard-content{
  overflow: hidden;
}
/* button container */
.button-container-analytics > button{
  background: var(--primary-color);
  border: none;
  border-radius: 50px;
  width: 180px;
  font-size: 12px;
}
.button-container-analytics > button:hover{
  background: var(--input-bg);
}

/* chart */
.chart-line-container{
  width: 100%;
  
}
.chart-card-line-container{
  border: 1px solid var(--primary-color);
  border-radius: 50px;
  padding: 20px;
  width: 420px;
  height: 40vh; /* Adjust height as necessary */

}
.carousel-controls {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space between buttons and carousel */
  height: 100%;

}

.carousel-controls button {
  width: 50px; /* Fixed width for buttons */
  border: none;
  background: none;
  width: 50px;
}
.carousel-controls > button:hover, .carousel-controls > button:active{
  background: none;
}
.btn-active {
  background: var(--input-bg) !important;
  color: var(--font-white);
}

.line-chart-container {
  border-radius: 8px; /* Rounded corners */
  text-align: center; /* Center the title */
  height: 100%;
}

.line-chart-container h5 , .chart-card > p{
  margin-top: 10px;
  text-align: left !important;
  margin: 0;
  
}
.chart-card-container{
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  padding: 20px;
  
}
.chart-card {
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Padding inside the card */
  margin-bottom: 20px; /* Space below each card */
}
.chart-card > p{
  font-size: 40px;
}
.chart-container{
  border: 1px solid var(--primary-color);
  border-radius: 50px;
  height: 25vh;
}

.chart-col {
  position: relative;
  
}

.chart-name{
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.chart-score {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

.overall-performance {
  font-size: 2rem;
  border-left: 2px solid var(--input-bg);

}
.overall-performance > div{
  font-size: 50px !important;
  font-weight:lighter !important;
}


/* analytics container */
.analytics-container {
  padding: 20px; /* Add padding for better spacing */
  background-color: #ffffff; /* White background for clarity */
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border: 1px solid var(--primary-color);
  height: 40vh; /* Adjust height as necessary */
}

.table-responsive {
  /* padding: 20px; */
  height: 100%; /* Full height */
  overflow-y: auto; /* Enable vertical scrolling */
}

table {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  color: var(--font-black);
  background-color: transparent !important;
}

thead{
  height: 50px;
  position: sticky; /* Make the header sticky */
  top: 0; /* Stick to the top */
  z-index: 10; /* Ensure it is above other elements */
  background: var(--font-white);
  font-size: 11px;
}

thead::after {
  content: '';
  display: block;
  height: 2px; /* Height of the border */
  background: var(--primary-color); /* Color of the border */
  position: absolute;
  bottom: 0; /* Position it at the bottom of the thead */
  left: 0;
  right: 0;
  z-index: -1; /* Ensure it is behind the thead */
}

thead tr{
  position: relative;
}

tbody td {
  padding: 5px;
  border-bottom: none;
  font-size: 0.95rem;
  font-size: 11px;
}

table tbody td .btn-link {
  background: var(--primary-color);
  text-decoration: none;
  height: 30px;
  color: var(--font-white);
  width: 100px;
  border-radius: 50px;
  font-size: 11px;
}

table tbody td .btn-link:hover {
  color: var(--font-white);
  background: var(--input-bg);
}
.result-red-analytic {
  color: #b30000; /* Dark red text */
}

.result-yellow-analytic {
  color: #F8BD00; /* Dark yellow text */
}

.result-orange-analytic {
  color: #e65c00; /* Dark orange text */
}

.result-green-analytic {
  color: #009900; /* Dark green text */
}

.btnReturn{
  position: absolute;
  bottom: 0;
  bottom: 20px;
  right: 20px;
}

