:root {
    --primary-color: #f46a05;
    --secondary-color: #1706ac;
    --font-white: #fff;
    --card-color: #686868;
    --text-color: #000;
    --activity-card-bg: #d9d9d9;
}

.behavioral-cards {
    display: flex;
    justify-content: center; /* Center the cards horizontally */
    position: relative; /* Needed for absolute positioning of rectangles */
    flex-wrap: wrap; /* Allow cards to wrap if necessary */
    z-index: 0;
}



.behavioral-card {
    color: var(--font-white) !important;
    border-radius: 20px !important;
    border: none;
    height: 240px !important;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.2s;
    cursor: pointer;
    width: 22%;
    max-width: 300px !important;
    background: var(--card-color);
    z-index: 1; /* Ensure card stays above the rectangle */
  }
  
/* .square-bg-behavoral-card {
    content: "";
    position: absolute;
    top: 50%; 
    left: -10%; 
    width: 120%; 
    height: 40px; 
    background-color: var(--primary-color); 
    border-radius: 20px; 
    transform: translateY(-50%);
    z-index: -1; 
  }
   */
.behavioral-title {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    left: 0;
}

.behavioral-description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: none;
    color: var(--font-white);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 13px;
    font-weight: 500; /* Use 500 instead of 50 for normal weight */
    text-align: left;
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s ease, visibility 0.3s ease; 
}

.behavioral-description > .behavioral-title1 {
    font-size: 15px;
    font-weight: 700;
}

.behavioral-card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}

.behavioral-card:hover .behavioral-description {
    transition: opacity 0.9s ease, visibility 0.9s ease; 
    opacity: 1; 
    visibility: visible; 
}

.behavioral-image {
    position: absolute;
    bottom: 30px; 
    left: 50%; 
    transform: translateX(-50%); 
    height: 80%; 
    width: auto; 
    max-width: 100%; 
    z-index: 0; 
}

.closebtn {
    color: #000; 
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    .behavioral-card {
        width: 30%; /* Adjust width for medium screens */
    }
}

@media (max-width: 992px) {
    .behavioral-card {
        width: 45%; /* Adjust width for smaller screens */
    }
}

@media (max-width: 768px) {
    .behavioral-card {
        width: 90%; /* Full width for mobile screens */
    }
    .behavioral-card {
        height: 200px !important; /* Adjust height for mobile */
    }
}

@media (max-width: 576px) {
    .behavioral-description {
        font-size: 12px; /* Smaller font size for mobile */
    }
    .behavioral-description > .behavioral-title1 {
        font-size: 14px; /* Smaller title size for mobile */
    }
}