:root {
    --primary-color: #f46a05;
    --secondary-color: #1706ac;
    --font-white: #fff;
    --font-black: #000;
    --input-bg: #686868;
    --bg-fade-signup: #d9d9d9;
  }
  
.chooseyourinterviewmethod-container{
    background: var(--font-white);
    width: 800px;
    height: 80%;
    max-height: 600px;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0px #00000059;
}
.chooseyourinterviewmethod-container .row{
    height: 60%;
    width: 100%;
}
.chooseyourinterviewmethod-container .card {
    width: 320px;
    height: 160px;
    box-shadow: 4px 4px 4px 0px #00000059;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.chooseyourinterviewmethod-container .card:hover {
    transform: translateY(-5px);
    box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.2);
}

.chooseyourinterviewmethod-container .card-text > p {
    margin: 0 !important;
    color: var(--input-bg);
    font-size: 13px;
}