:root {
  --primary-color: #f46a05;
  --secondary-color: #1706ac;
  --font-white: #fff;
  --font-black: #000;
  --input-bg: #686868;
  --bg-fade-signup: #d9d9d9;
}
.company-register-page-container{
  background: url("../assets/bg.png");
  background-size: cover;
}
.company-reg-container i {
  font-size: 15px;
}
.company-registration-container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.company-registration-container-form {
  width: 80%;
  max-width: 1200px;
  border-radius: 20px;
  margin-bottom: 10vh !important;
}
.form-company-reg {
  padding: 10px 100px 30px 100px;
  border-radius: 0px 0px 20px 20px;
  background: var(--font-white);
}
.company-reg-title {
  border-radius: 20px 20px 0px 0px;
  background: var(--primary-color);
  padding: 30px 100px;
  color: var(--font-white);
}
.company-reg-title > p {
  font-weight: 200 !important;
}
.company-registration-container-form input,
.company-registration-container-form select {
  border-radius: 20px;
  border: 2px solid var(--primary-color);
  color: var(--input-bg);
}
.company-registration-container-form select {
  appearance: none;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"%3E%3Cpath fill="none" stroke="%23000000" stroke-width="1.2" d="M1 4l5 5 5-5"%3E%3C/path%3E%3C/svg%3E'); /* SVG down arrow */
  background-position: right 15px center;
  background-repeat: no-repeat;
  padding-right: 40px; /* Adjust to make space for the icon */
}
.company-registration-container-form select:focus {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"%3E%3Cpath fill="none" stroke="%23000000" stroke-width="1.2" d="M1 8l5-5 5 5"%3E%3C/path%3E%3C/svg%3E'); /* SVG up arrow (flipped) */
}
.company-registration-container-form label {
  margin-top: 5px;
}
.company-registration-container-form .toggle-password{
  position: absolute;
  right: 15px;
  top: 75%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}
.company-registration-container-form button {
  background: var(--secondary-color);
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
}
.companyregisteravatar {
  height: 60%;
  position: absolute;
  bottom: 20px;
  right: -30px;
}
.company-registration-container-form .invalid-feedback{
  left: 12px;
}


/* DPA checkbox */
.cr-agreement-box-check{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  line-height: 1;
  font-size: 12px;
  margin-block: 10px;
}
.cr-agreement-box-check > .cr-form-check-input {
  margin: 0 !important;
  margin-right: 2px !important;
  padding: 6px;

}
.cr-agreement-box-check label{
font-size: 14px;
line-height: 1 !important;
margin: 0px !important;
}


/* DPA modal */
.cr-dpa-modal-agreement {
  /* min-width: 700px !important; */
}
.modal-dialog {
  width: 600px !important;
  max-width: 700px !important;
}
.cr-dpa-container {
  overflow-y: hidden;
}
.cr-dpa-content {
  width: 700px;
  height: 500px;
  overflow: auto;
}
.cr-dpa-content > h2 {
  width: 100%;
  font-size: 24px;
}

.cr-dpa-content > p {
  font-size: 14px;
}
.cr-section {
  width: 100%;
  margin-block: 5px;
}
.cr-section > .cr-section-title {
  font-weight: 600;
  font-size: 24px;
}
.cr-section > .cr-section-description {
  font-size: 14px;
}
.cr-section > .acceptance {
  color: #686868;
  font-style: italic;
}
.btn-cr-continue {
  background-color: #F46A05;
  color: var(--font-white) !important;
  font-weight: 400;
  padding: 5px 50px;
  font-size: 18px;
  border: none;
  margin-bottom: 5px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}


/* Scrollbar styling */
.cr-dpa-content::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.cr-dpa-content::-webkit-scrollbar-track {
  background: #D1D1D1;
  width: 12px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.cr-dpa-content::-webkit-scrollbar-thumb {
  background-color: #F46A05; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners */
  width: 12px; /* Set the width of the thumb */
  height: 12px; /* Set the height to the same as the width for a circle */
}