:root {
    --primary-color: #F46A05;
    --secondary-color: #1706AC;
    --font-white: #fff;
    --input-bg: #686868;
    --bg-fade-signup: #D9D9D9;
    --font-black: #000;
}
.error-section {
    width: 100%;
    display: flex; /* Flexbox for centering */
    align-items: center; /* Center vertically */
    text-align: center; /* Center text */
    flex-direction: column; 
    height: 82vh;
  }
  .error-box{
    width: 80%;
    height: 100%;
    display: flex; /* Flexbox for centering */
    align-items: center; /* Center vertically */
    flex-direction: column;
    justify-content: center;
    background: var(--font-white);
    padding: 20px;
    gap: 20px;
    border-radius: 50px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  }
  .error-section h1 {
    font-size: 50px !important; /* Large font size for the heading */
    margin: 0 !important;
    padding: 0;
  }
  .error-section h2 {
    font-size: 30px !important; /* Large font size for the heading */
 
  }
  
  .error-section p {
    width: 40%;
    font-size: 15px !important; /* Font size for paragraphs */
    color: #333; /* Darker color for text */
    margin-bottom: 15px; /* Space below paragraphs */
  }
  
  .error-section button {
    padding: 10px 20px; /* Padding for the button */
    font-size: 1rem; /* Font size for the button */
    border: none; /* Remove border */
    border-radius: 50px; /* Rounded corners */
    background-color: var(--secondary-color); /* Button background color */
    color: white; /* Button text color */
    cursor: pointer; /* Pointer on hover */
    height: 40px;
    transition: background-color 0.3s; /* Smooth transition */
  }
  
  .error-section button:hover {
    background-color:var(--input-bg); /* Darker shade on hover */
  }


  /*Error 400*/
.error-box > .row > .col-md-6 {
  text-align: left;
}
.error-box > .row > .col-md-6 > p{
  font-size: 30px !important;
  font-weight: 100 !important;
  font-family:  Calibri;
  word-spacing: -1px;
}