.expired-invalid-link-container {
    background: rgb(244, 106, 5);
    background: linear-gradient(
      128deg,
      rgba(244, 106, 5, 1) 32%,
      rgba(245, 199, 121, 1) 95%,
      rgba(245, 199, 121, 1) 95%
    );
    color: white;
    padding: 40px !important;
    width: 500px !important;
    height: 480px !important;
    position: relative;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    z-index: 0;
    padding: 70px !important;
}
.expired-invalid-link-header {
    line-height: 1 !important;
}
.expired-invalid-link-header > h2 {
    text-align: center;
    margin-bottom: 0;
    font-weight: 600;
    
}
.expired-invalid-link-header-description {
    font-weight: 100 !important;
    font-size: 13px !important;
    text-align: center;
    width: 100% !important;
}

.expired-invalid-link-container > p {
    text-align: center;
    font-weight: 100 !important;
    width: 85%;
    font-size: 12px;
}
.expired-invalid-link-container > p,
.expired-invalid-link-container > ul > li
 {
    font-size: 14px !important;
    margin-bottom: 0 !important;
}

.btn-bt-dashboard {
    padding: 10px 30px;
    border-radius: 50px;
    background: var(--secondary-color);
    color: var(--font-white) !important;
    border: none;
}