/* Global Scrollbar for WebKit browsers (Chrome, Safari) */
html::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  html::-webkit-scrollbar-track {
    background: var(--bg-fade-signup); /* Background of the scrollbar track */
  }
  
  html::-webkit-scrollbar-thumb {
    background-color: var(--primary-color); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
  }
  
  html::-webkit-scrollbar-thumb:hover {
    background-color: #d65a05; /* Darker shade on hover (replace with your desired color) */
  }
  
  /* Global Scrollbar for Firefox */
  html {
    scrollbar-width: thin; /* Make the scrollbar thin */
    scrollbar-color: var(--primary-color) var(--bg-fade-signup); /* Thumb color and track color */
  }