/* Import Roboto font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;700&display=swap");
/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #f46a05;
  --secondary-color: #1706ac;
  --font-white: #fff;
  --font-black: #000;
  --acttivit-card-bg: #d9d9d9;
  --exclusive-btn-color: #b90416;
  --color-brown: #686868;
}

.main-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.landingHeader {
  background: var(--font-white) !important;
  width: 100%;
  position: fixed;
  z-index: 100;
  padding: 20px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.navbar > .container {
  padding: 0 !important;
}

.nav-dropdown {
  background-color: var(--font-white);
  /* Background color for dropdown */
}

.navbar .nav-item {
  font-weight: 700;
  color: var(--font-black) !important;
  /* Text color for dropdown items */
}

.navbar .nav-item:hover {
  color: var(--primary-color) !important;
}
.noclickblue:focus,
.noclickblue:active {
  background-color: none !important; /* Prevent background color change */
  outline: none; /* Prevent focus outline */
  
}
.noclickblue:hover{
  color: var(--primary-color) !important;
  background: none !important;
}
#nav-dropdown-products, #nav-dropdown-services , #nav-dropdown-company, #nav-dropdown-pricing{
  color: var(--font-black) !important;
}
#nav-dropdown-products:hover, #nav-dropdown-services:hover , #nav-dropdown-company:hover, #nav-dropdown-pricing:hover{
  color: var(--primary-color) !important;
}
.signup-link > a{
  border-left: 3px solid var(--color-brown);
  padding-left: 20px;
}

.hover-dropdown {
  position: relative;
}

.hover-dropdown .dropdown-menu {
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.hover-dropdown:hover{
  color: var(--primary-color) !important;
}
.hover-dropdown .dropdown-menu{
  color: var(--primary-color) !important;

}
.hover-dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
}

/* Ensure the dropdown menu is displayed on hover */
.nav-dropdown:hover .dropdown-menu {
  display: block !important;
}


.hover-dropdown:hover .dropdown-menu {
  display: block !important;
}

.nav-dropdown .noclickblue:hover {
  background-color: var(--primary-color) !important;
  color: var(--font-white) !important;
}

.border-triangle {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 30px;
  background: var(--primary-color);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}
.border-triangle1 {
  width: 100%;
  position: absolute;
  top: 0;
  height: 30px;
  background: #D9D9D9;
  clip-path: polygon(50% 100%, 100% 0, 0 0); /* Flipped triangle */
}
.border-triangle2 {
  width: 100% !important;
  position: relative;
  top: 0;
  height: 30px;
  background: #D9D9D9;
  clip-path: polygon(50% 100%, 100% 0, 0 0); /* Flipped triangle */
}
/* Header */

.landing-header {
  padding: 0px 5%;
}
.logoname {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 1000;
  line-height: 0px;
  padding-top: 20px;
  display: flex;
  position: relative;
  bottom: -4px;
}

.logocolor {
  color: var(--primary-color);
  font-family: Roboto, sans-serif;
  font-weight: 1000;
}

.sublogoname {
  font-family: Roboto, sans-serif;
  color: var(--font-black);
  font-weight: 1000;
  font-size: 9px;
  position: relative;
  bottom: -1px;
}

/* Button styles using the primary color */
.btn-signup {
  width: 200px;
  height: 50px;
  margin-left: 30px;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
}


.btn-get {
  background-color: var(--primary-color) !important;
  border: none !important;
  width: 240px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border-radius: 50px !important;
  font-size: 22px !important;
  font-weight: 400;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.449);

}
.btn-get > a {
  text-decoration: none;
  color: var(--font-white);
}
.btn-get > .rocket-icon {
  height: 30px;
  width: 30px;
  margin: 2px;
  margin-bottom: 3px;
}
.arrow-svg-pointing-btn {
  position: absolute;
  left: -50px;
  z-index: 1;
  bottom: 20px;
}
/* hero section*/
.hero-container {
  position: relative;
  height: 100vh !important;
  padding: 0;
  background: var(--font-white);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 48%,
    rgba(244, 106, 5, 1) 130%
  );
  /* Set height to 100% of the viewport */
}
.hero-container > h2 > svg{
  position: relative;
  top: -15px;
  height: 25px;
}
.hero-container > svg {
  position: absolute;
  z-index: 1;
  bottom: -12px;
}

.hero-container {
  height: 100vh;
}
.custom-hero-container {
  width: 50% !important;
  margin: 0 auto;
  margin-bottom: 50px;
  /* Center the container */
}

.hero-container > h1 {
  font-size: 60px !important;
  font-weight: 700 !important;
  color: var(--font-black) !important;
  margin: 0 !important;
  padding-top: 10% !important;
}

.hero-container > h2 {
  font-size: 35px !important;
  font-weight: 200 !important;
  /* font-family: 'Roboto', sans-serif; */
  margin: 0 !important;
  color: var(--font-black) !important;
}

h2 > .quote {
  font-weight: 900;
  position: relative;
  top: -20px;
  z-index: 1;
}

.hero-content {
  color: var(--font-black) !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  margin-top: 90px;
}

.heroavatar {
  /* height: 20% !important; */
  max-height: 350px !important;
  margin: 20px;
  bottom: -20px;
}
@media (min-width: 1400px) {
  .heroavatar {
    max-height: 400px !important;
  }
}
@media (min-width: 1500px) {
  .heroavatar {
    max-height: 480px !important;
  }
}

/*mock interview section*/
.mock-interview-container{
  background: url("/src/assets/bg-mockaisection.png") no-repeat !important; /* Center the background */
  background-size: cover!important; /* Cover the entire area */

}
.bundle-mock-interview-container{
  background: url("/src/assets/bg-mockaisection.png") no-repeat !important; /* Center the background */
  background-size:  cover !important; /* Cover the entire area */
}
.mock-interview-container,
.bundle-mock-interview-container {
  position: relative;
  background: var(--font-white);
}

.navigation-container nav ul li {
  list-style: none;
  font-weight: 700;
}
.navigation-container nav ul li > a {
  text-decoration: none;
  color: var(--font-black);
  font-size: 20px;
}
.navigation-container nav ul li > a > svg {
  height: 28px;
  width: 28px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.navigation-container > nav > ul {
  height: 100px;
}
.color-orange {
  color: var(--primary-color) !important;
  margin: 0;
  text-decoration: none;
}

.custom-mock-interview-container,
.custom-bundle-mock-interview-container {
  width: 75% !important;
  max-width: 740px;
  margin: 0 auto;
  /* Center the container */
  position: relative;
}
.custom-mock-interview-container > h1 {
  width: 650px;
  display: inline;
  text-align: center;
  font-weight: 700;
    font-size: 46px !important;

}
.custom-mock-interview-container > h1 > p{
  display: inline;

}
.content-mock-interview-container,
.content-bundle-mock {
  height: 400px;
  position: relative;
  margin-top: 20px;
}

.mock-content-bg{
  background: var(--acttivit-card-bg);
  border-radius: 30px;
  padding: 30px 30px;
  position: relative;
  z-index: 1;
}
.bundle-mock-bg {
  background: var(--acttivit-card-bg);
  border-radius: 30px;
  padding: 20px 20px;
  position: relative;
  z-index: 1;
}

.mock-content-bg > p,
.bundle-mock-bg > p {
  text-align: left;
  width: 78%;

}

.mock-content-bg > img {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: -60px;
  min-height: 300px;
  height: 100%;
}


.overlayed-icons {
  position: absolute;
  z-index: 100;
  top: -20px;
  left: 30px;
  padding: 5px;
  width: 190px;
  border-radius: 50px;
  background: var(--primary-color);
}

.bg-blue-behind {
  position: absolute;
  z-index: 0;
  right: -30px;
  bottom: 110px;
  background: var(--secondary-color);
  width: 370px;
  height: 100px;
  border-radius: 20px;
}



.btn-mock {
  background-color: var(--primary-color) !important;
  border: none !important;
  width: 230px;
  height: 30px;
  margin-left: 10%;
  border-radius: 50px !important;
  font-size: 15px !important;
  font-weight: 200;
  color: var(--font-white);
}

.mock-interview-container > video {
  background: var(--font-black);
  width: 60%;
}

.mock-interview-container > i {
  color: var(--primary-color);
  padding-top: 10px;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 50px;
}

/*Bundle Mock Interview*/
.custom-bundle-mock-interview-container > h1 {
  font-size: 46px !important;
  font-weight: 700;
}
.custom-bundle-mock-interview-container > h3 {
  font-size: 34px !important;
  font-weight: 700;
}
.bundle-mock-bg{
  width: 100%;
}
.bundle-mock-bg > p {
  padding-right: 70px;
}
.bundle-mock-bg > .bundle-avatar {
  position: absolute; /* Keep it absolute */
  right: -50px; /* Align to the right */
  top: -170px; /* Adjust the top position as needed */
  height: auto; /* Set height to auto for responsiveness */
  z-index: 1; /* Ensure it is above the background */
}

.bundle-avatar > svg {
  position: absolute;
  z-index: -1; /* Keep SVG behind the image */
  top: 140px;
  height: 100%; /* Adjust height for better fit */
  right: -20px; /* Align SVG to the right as well */
}

.bundle-avatar > img {
  position: relative; /* Keep image relative to its container */
  height: 250px; /* Set height to auto for responsiveness */
  max-height: 50%; /* Ensure it doesn't overflow */
  top: 120px;
  right: 100px;
}
.bundle-bg2 {
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  position: relative;
  z-index: 1;
  width: 68%;
  max-width: 800px;
  padding: 20px 20px 20px 100px;
  margin: 40px 0px;
}

.bundle-bg2 > img {
  position: absolute;
  left: -70px;
  z-index: 1;
  top: -50px;
  height: 250px;
}

.step-container{
  border: 2px solid var(--primary-color);
  width: 95%;
  max-width: 1300px;
  padding: 50px;
  gap: 50px;
  border-radius: 50px;
  z-index: 0;
  position: relative;
  background: var(--font-white);
  margin-bottom: 20px;
}
.step-card{
  width: 28%;
  height: 500px;

}
.step-card > div{
  background: var(--acttivit-card-bg);
  height: 400px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 0;
}
.bundle-box {
  height: 70vh;
  border: 3px solid var(--primary-color);
  border-radius: 50px;
  width: 90%;
  position: relative;
  z-index: 1;
  margin-bottom: 70px;
}
.bundle-box > .bundle-card {
  background: var(--acttivit-card-bg);
  width: 25%;
  height: 80%;
  border-radius: 50px;
  position: relative;
  gap: 20px;
  padding: 20px;
  text-align: center;
}
.bundle-card > svg {
  height: 30%;
}
.step-card > div > b {
  font-size: 30px !important;
  padding-bottom: 30px;
  font-weight: 700 !important;
}
.step-card> div > p {
  width: 80%;
  text-align: center;
}
.step-card > img{
  width: 53px !important;
  height: 53px !important;
}
.steps {
  position: absolute;
  top: -20px;
  z-index: 1;
  width: 50%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  text-align: center;
  border-radius: 50px;
  color: var(--font-white);
  font-weight: 200;
  font-size: 25px;
}
.bg-orange-behindcard {
  position: absolute;
  z-index: -1;
  top: 45%;
  height: 150px;
  width: 70%;
  background: var(--primary-color);
}

/*Premium Package Section*/
.bg-orange-gradient{
  background: url("/src/assets/bg-mockaisection.png") no-repeat !important; /* Center the background */
  background-size:  cover!important; /* Cover the entire area */

}
.horizontal-line{
  border-bottom: 3px solid var(--color-brown);
  height: 20px;
  width: 90%;
}
.premium-package-container {
  padding: 5em 0em;
}
.premium-package-container > h1 {
  padding-bottom: 1em !important;
  font-size: 46px;
  color: var(--primary-color);
  font-weight: 700;
}
.premium-package-container > h1 > svg{
  margin-left: 20px;
  margin-bottom: 10px;
}

.premium-package-container  h3{
  color: var(--primary-color) !important;
  padding: 1em 0em;
  font-weight: 700;
  text-align: center;
  height: 20%;
}
.premium-box-container {
  width: 90%;
  max-width: 1400px;
  height: 500px;
  background: var(--font-white);
  border-radius: 30px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.premium-box-container1 {
  width: 90%;
  max-width: 1400px;
  height: 250px;
  background: var(--font-white);
  border-radius: 30px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  margin-top: 40px;
}
.premium-box-container > .row{
  width: 100%;
  height: 100%;
  padding: 20px;

}
.premium-box-container > .row > .col-md-2{
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}
.premium-box-header {
  color: var(--font-white);
  font-size: 15px;
}
.premium-box-header .premium-box-title , .premium-box-header .premium-box-data{
  margin: 0;
  width: 100%;
  border-bottom: 1px solid var(--color-brown);
  height: 40px !important;
  display: flex;
  align-items: center;
}
.premium-box-header .premium-box-title b{
  padding-left: 20px !important;
  margin-bottom: 0 !important;
  color: var(--font-black);
  font-weight: 900;
}
.premium-box-header .premium-box-data p{
  color: var(--font-black);
  padding-left: 20px !important;
  margin: 0;
}

.premium-card{
  width: 100%;
  height: 100px !important;
  color: var(--font-black);
}
.premium-card p{
  margin: 0;
}
.premium-card > p{
  font-size: 20px !important;
  font-weight: 700 !important;
  color: var(--primary-color);
}
.premium-card > div{
  background: var(--acttivit-card-bg);
  width: 95%;
  border-radius: 10px;
}
.premium-card-box > .premium-round{
  font-size: 10px;
  color: var(--color-brown);
  font-weight: 700;
  position: relative;
  bottom: 7px;
}
.premium-price{
  font-size: 25px !important;
  font-weight: 700 !important;
  color: var(--font-black) !important;
}
.btn-choose-plan{
  background: var(--primary-color) !important;
  border: none !important;
  color: var(--font-white) !important;
  width: 90%;
  font-size: 16px;
  margin-top: 20px;
}
.premium-box-container1 > .row{
  width: 100%;
  height: 60%;
  gap: 30px;
}
.premium-box-container1 > .row > .col-md-2{
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.premium-box-container1 > .row > .col-md-2 > .premium-box-header{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.premium-box-container1 > .row > .col-md-2 > .premium-box-header > .premium-card {
  position: relative;

}
.premium-box-container1 > .row > .col-md-2 > .premium-box-header > .premium-card > .btn-choose-plan{
  width: 95%;
}

.premium-box-container1 > .row > .col-md-2 > .premium-box-header  i{
  font-size: 13px !important;
  height: 20px;
  font-weight: 400;
  color: var(--primary-color) !important;

}

/*About Hr hatch*/
.about-hr-hatch-container {
  height: 90vh;
  padding:  0px;
}

.about-hr-hatch-container > h3 {
  font-size: 46px !important;
  font-weight: 700;
}

.about-hr-hatch-container > h2 {
  width: 45%;
  text-align: center;
  font-weight: 200; 
  font-size: 30px !important;
}
.about-hr-hatch-container > h2 > svg{
position: relative;
top: -15px;
height: 25px;
}

.about-content-container {
  width: 60%;
  height: 600px;
  position: relative;
}
.about-hr-hatch-container> h3 > img{
  margin-bottom: 3px;
  padding-left: 6px;
}

.about-main-content {
  width: 70%;
  line-height: 40px;
}

.about-content-container > .about-avatar-bg {
  background: url("/src/assets/about-bg.png") no-repeat center center; /* Center the background */
  background-size: cover; /* Cover the entire area */
  width: 70%; /* Ensure it takes full width */
  height: 70%; /* Ensure it takes full height */
  display: flex; /* Use flex to center the image */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.about-avatar-bg > img {
  width: 50%;
}

/*footer*/

.footer-container-bg {
  width: 100%; /* Use full width for better distribution */
  background: url("/src/assets/bg-mockaisection.png") no-repeat !important; /* Center the background */
  background-size:  100% !important; /* Cover the entire area */
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.1);  color: var(--font-black);
  padding: 1.5em 0;

}
.footer-logo {
  height: 170px !important;
}
.footer-logo .logoname{
  line-height: 10px;
}

footer h5 {
  margin-bottom: 15px;
  text-align: left;
  color: var(--font-black);
  height: 10%;
  font-size: 18px;
  font-weight: 700;
}
footer li {
  text-align: left;
  color: var(--font-black);
}
footer a {
  color: var(--font-black) !important;
  text-decoration: none;
  text-align: left;
  width: 100%;
  line-height: 35px;
  font-size: 16px;
  font-weight: 400 !important;
}
footer a:hover {
  text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 768px) {

}

