
/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #F46A05; 
    --secondary-color: #1706AC;
    --font-white: #fff;
    --font-black: #000;
}
body{
    background: url("/src/assets/image.png")!important;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-container {
    position: relative;
    width: 100%;
    height: 100vh;
  
}

.navbar > .container{
    padding: 0 !important;
}
/*bg shape*/
.background-svg-hero-section{
    margin-top: 10%;
    position: fixed; /* Change from absolute to fixed */
    top: 0;
    left: 0;
    width: 100%; /* Use viewport width */
    height: 100%; /* Use viewport height */
    z-index: -1;
    object-fit: cover; /* Ensure the SVG covers the entire area */
    pointer-events: none; /* Prevent SVG from interfering with interactions */
}
/* Header */

.logoname {
    font-family: 'Londrina Solid', cursive; /* Apply Londrina Solid font */
    font-size: 35px;
    font-weight: 400;
    line-height: 12px;
    padding-top: 10px;
    display: flex;
}
.logocolor{
    color: var(--primary-color);
    font-family: 'Londrina Solid', cursive; /* Apply Londrina Solid font */

}
.sublogoname {
    font-family: 'Londrina Solid', cursive; /* Apply Londrina Solid font */
    color: var(--font-black);
    font-weight: 400;
    font-size: 15px;
}

/* Button styles using the primary color */
.btn-login {
    background-color: var(--secondary-color) !important;
    border: none !important;
    width: 200px;
    height: 50px;
    border-radius: 50px !important;
    font-size: 20px !important;
}
.btn-get {
    background-color: var(--primary-color) !important;
    border: none !important;
    width: 240px;
    height: 60px;
    border-radius: 50px !important;
    font-size: 20px !important;
    font-weight: 800;
}
.btn-get > .rocket-icon{
    height: 30px;
    width: 30px;
    margin: 2px;
}
.btn-login:hover {
    background-color: rgba(244, 106, 5, 0.8); /* Slightly darker on hover */
    border-color: rgba(244, 106, 5, 0.8);
}



h1 {
    font-size: 70px !important;
    font-weight: 700 !important;
    padding-top: 50px;
    color: var(--font-black) !important;
}
h2 {
    font-size: 47px !important;
    font-weight: 600 !important;
    color: var(--font-black) !important;
}

.hero-content{
    color: var(--font-black) !important;
    font-size: 25px !important;
    font-weight: 500 !important;
}
.hero-container {
    position: relative;
    height: 90vh; /* Set height to 100% of the viewport */
}

.heroavatar {
    position: absolute;
    min-width: 500px !important;
    width: 47%;
    height: auto; /* Maintain aspect ratio */
    top: 0; /* Align to the top */
    right: 0; /* Align to the right */
    bottom: -20px;
    z-index: 1;
}