:root {
  --primary-color: #f46a05;
  --secondary-color: #1706ac;
  --font-white: #fff;
  --card-color: #686868;
  --text-color: #000;
  --acttivit-card-bg: #d9d9d9;
}

.main-container {

  position: relative;
}
.maindashboard-container1 {
  width: 100%;
  padding: 30px;
  z-index: 1; /* Place above the background */
  overflow: hidden;
}

.background-svg1 {
  position: fixed; /* Use fixed positioning for the SVG */
  bottom: 0; /* Align to the bottom */
  left: 0; /* Align to the left */
  z-index: -1; /* Send it to the back */
  width: 150px;
  height: 150px; /* Fixed height */
  width: auto; /* Maintain aspect ratio */
}
.maindashboard-container {
  padding: 20px 20px 0px 20px;
}
.maindashboard-container > .container {
  width: 65%;
}

.nav-link.active{
  color: var(--primary-color) !important;
  font-weight: bold;
  fill: var(--primary-color) !important;
}

.nav-link {
  color: inherit;
  transition: color 0.3s;
}

/* Header */
.dashboard-header > h3 {
  color: var(--primary-color);
  padding: 0px 10px;
  margin: 0;
  font-size: 20px;
}
.dashboard-header > p {
    font-size: 9px;
    padding: 0px 10px;
    color: var(--card-color);
}
/*maindashboard*/

.mock-interview-container-header > h4 {
  font-size: 20px;
  padding: 0;
  margin: 0;
  color: var(--secondary-color);
}
.career-search-container {
  width: 100%;
  justify-content: flex-end;
}
.mock-interview-container-header > p {
  font-size: 9px;
  color: var(--secondary-color);
  padding: 0px 0px 20px 0px;
  margin: 0;
}
.career-search {
  position: relative;
  overflow: hidden;
  width: 400px;
  display: flex;
  align-items: center;
}

.search-container {
  width: 80%;
  margin-right: 10px;
}

.search-button {
  background: var(--primary-color);
  border: none;
  color: var(--font-white);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  width: 40px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
}

.careerSelect > select {
  background: var(--primary-color);
  color: var(--font-white);
  margin: 0;
  border-radius: 50px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 100px;
  height: 38px;
  font-size: 12px;
}

.dropdown-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--font-white);
  pointer-events: none;
}

.main-container1 {
  flex-direction: column;
  gap: 20px;
  padding: 0px !important;
  height: auto;
}

.category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 80vh !important;
  border: 1px solid var(--font-white);
  border-radius: 10px;
  height: 70vh;
  scrollbar-color: var(--primary-color) #f1f1f1;
}

.category-card {
  color: var(--font-white) !important;
  border-radius: 30px !important;
  display: flex;
  border: none !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 30%;
  max-width: 400px;
  height: 90%;
  position: relative;
  background-color: var(--primary-color);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.category-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-color: var(--primary-color);
  filter: grayscale(100%);
  z-index: 20;
  transition: filter 0.3s ease;
}

/* Specific background images for each card */
.category-card.bg-behavioral::before {
  
  background-image: url(../assets/behavioral.png); /* Replace with your actual image path */
}

.category-card.bg-basic::before {
  background-image: url(../assets/basic.png); /* Replace with your actual image path */
}

.category-card.bg-expert::before {
  background-image: url(../assets/expert.png); /* Replace with your actual image path */
}

.category-card:hover::before {
  filter: grayscale(0%);
}

.category-card-title {
  width: 30%;
  font-size: 2.0em;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  transform: rotate(90deg);
  white-space: nowrap;
  margin: 0;
  position: absolute;
  top: 20px;
  right: 10px;
  font-weight: 700;
  z-index: 30;
  transition: transform 0.3s ease;
}

.category-description {
  position: absolute;
  z-index: 200;
  font-size: 12px;
  padding: 10px;
  top: 12%;
  text-align: center;
  visibility: hidden; /* Initially hide the paragraph */
  opacity: 0; /* Start with opacity 0 */
  transition: visibility 0s linear 0.3s, opacity 0.3s linear; /* Smooth transition */
}
/* Keyframes for moving to center and scaling */
@keyframes moveToCenter {
  0% {
    transform: rotate(90deg) translate(0, 0) scale(1); /* Initial state */
    text-shadow: none; /* No shadow initially */
  }

  100% {
    transform: rotate(0deg)  scale(1.1); /* Scale up */
    font-size: 1em; /* Resize font size */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(0, 0, 255, 0.6); 
  }
}
.category-card:hover .category-card-title {
  animation: moveToCenter 0.5s forwards; /* Trigger the animation */
  width: 90%; /* Optional: Adjust the width on hover */
  text-align: center !important;
}

.category-card:hover .category-description {
  visibility: visible; /* Make the paragraph visible on hover */
  opacity: 1; /* Fade in effect */
  transition-delay: 0s; /* Remove delay when showing */
}


.header-text-interview {
  width: 75%;
  height: 30px;
}

.header-text-interview > p {
  padding: 0;
  border: 3px solid var(--primary-color);
  border-top: none;
  border-left: none;
  border-right: none;
  line-height: 15px;
  color: var(--primary-color);
  padding-bottom: 5px;
}

.skill-col {
  width: 75%;
  flex-wrap: wrap;
  gap: 20px;
}

.skill-card {
  background: var(--card-color);
  transition: background 0.2s ease;
  width: 150px;
  min-width: 45%;
  height: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-white);
}
.skill-card:hover {
  animation: glow 1.5s infinite alternate;
  animation-delay: 0.5s;
  background: var(--primary-color);
  box-shadow: 0 0 10px var(--primary-color), 0 0 30px var(--primary-color); /* Glow effect */
}

.skill-card > .skill-title {
  text-align: center;
  font-size: 15px;
  margin: 0;
}

.skill-space {
  width: 25%;
}
@media (max-width: 768px) {
  .career-search-container {
    flex-direction: column; /* Stack elements vertically */
    align-items: stretch; /* Full width */
  }

  .career-search {
    width: 100%; /* Full width for mobile */
  }

  .category-container {
    flex-direction: column; /* Stack categories vertically */
    padding: 10px; /* Adjust padding */
  }

  .category-card {
    width: 100%; /* Full width cards */
    margin-bottom: 10px; /* Space between cards */
  }
}
/* Summary */
.summary-card {
  width: 100%;
  
  height: 100% !important;
  border: none !important;
  color: var(--secondary-color) !important;
  flex-direction: column;
  gap: 0px;
  padding: 0;
  background-color: transparent !important;
  position: relative;
  
}
.summary-card-wrapper {
  position: relative;
  min-width: 200px;
  width: 100%;
  max-width: 300px;
  height: 100%;
  border: 1px solid var(--acttivit-card-bg);
  border-radius: 50px !important;
  background: var(--font-white) !important;
}

.summary-card > .card-title {
  text-align: left;
  padding: 10px 20px 0px 20px;
  font-weight: 700;
  font-size: 20px;
  height: 5%;
}

.summary-card > .card-text {
  color: var(--secondary-color) !important;
  font-weight: 500;
  padding: 0px 20px;
  margin: 0;
  font-size: 15px;
  height: 5%;
}
.background-svg2 {
  position: absolute;
  bottom: 0;
  /* margin-left: 10px; */
  left: 3px;
  width: 100%;
  height: auto;
  bottom: 0px;
  z-index: 1; /* Ensure the SVG is behind the card */
}


.activity-results-container {
  display: flex;
  gap: 15px;
  padding: 10px;
  height: 30%;
}

.activity-container,
.results-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activity-container {
  width: 70%;
  gap: 5px;
}

.activity-card,
.result-of-interview {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin: 2px 0;
}

.activity-card {
  min-height: 40px;
  background: var(--acttivit-card-bg) !important;
  border-radius: 50px;
}

.result-of-interview {
  min-height: 0px;
}

.activity-card > .category-name {
  font-size: 10px;
  color: var(--text-color);
  margin: 0;
}

.activity-card > .type-of-interview {
  font-size: 9px;
  color: var(--primary-color);
  margin: 0;
}

.activity-card > .date-of-interview {
  font-size: 8px;
  color: var(--card-color);
  margin: 0;
}

.results-container > p,
.activity-container > p {
  margin: 0 !important;
  color: var(--text-color);
  font-size: 11px;
  font-weight: 100;
}

.activity-card,
.result-of-interview {
  height: 40px;
  justify-content: center;
  color: var(--text-color);
  font-weight: 500;
}

.subcription-reminder-container {
    width: 100%;
    flex-direction: column;
    height: 20%;
}

.line-color-orange {
  background-color: var(--primary-color);
  width: 65%;
  height: 2px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.subcription-reminder {
    width: 90%;
    height: 65px;
    background-color: var(--acttivit-card-bg);
    border-radius: 50px;
    padding: 10px;
    margin-top: 0;
    box-shadow: 0px 4px 5px 0px rgba(135, 135, 135, 0.686);
    align-items: center;
}
.subcription-reminder > .reminder-note {
  width: 80%;
  text-align: center;
  font-size: 10px !important;
  font-weight: 100 !important;
  color: var(--text-color);
}
.subcription-reminder > .sub-reminder-text {
  font-size: 16px !important;
  text-align: center;
  color: var(--primary-color);
  font-weight: 700 !important;
  margin: 0;
}

.warning {
  color: red;
  font-size: 30px;
  font-weight: 900;
  width: 20px;
  height: 30px;
  background: var(--acttivit-card-bg);
  position: absolute;
  top: -23px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.summary-avatar-img-bg {
    background-image: url('../assets/summary-img.png');
    background-position: bottom center; 
    background-repeat: no-repeat; 
    background-size: contain ; 
    height: 40%; 
    position: relative;
    top: 0; 
    bottom: 20px !important;
    z-index: 2; /* Ensure this is above the SVG */
  
}

.upload-area {
  height: 45vh;
  flex-direction: column;
  justify-content: center;
  border-style: dashed;
  color: var(--primary-color);
  border-color: var(--text-color);
}

.upload-area > i,
.upload-area > p {
  color: var(--text-color);
}

.upload-area > button {
  background: var(--primary-color) !important;
  border: none;
  border-radius: 50px;
  color: var(--font-white) !important;
  font-style: italic;
  width: 100px;
  height: 40px;
}

.upload-area > button:hover {
  background: var(--font-white);
}

.textarea-container {
  position: relative;
}

.char-count {
  position: absolute;
  bottom: 0px;
  right: 10px;
  font-size: 0.9rem;
  color: #6c757d;
}

.submit-job-description {
  width: 100%;
  justify-content: center;
}

.submit-job-description > button {
  background: var(--primary-color);
  color: var(--font-white);
  border: none;
  border-radius: 50px;
  width: 100px;
}
.submit-job-description > button:hover,
.submit-job-description > button:disabled {
  background: var(--card-color);
}
.custom-video-record-modal-width {
  max-width: 1100px !important;
  width: 85% !important;
  height: 80% !important;
  max-height: 60vh !important;
}


.interview-question-container {
    background: var(--acttivit-card-bg);
    border-radius: 10px;
    padding: 20px;
    width: 100%;

    position: relative;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.423);
}

.timer {
  background-color: var(--text-color);
  color: var(--font-white) !important; /* Keep the text color */
  /* background-color: rgba(0, 0, 0, 0.5); Semi-transparent black */
  padding: 5px; /* Add some padding for better readability */
  border-radius: 5px; /* Optional: round the corners */
}

.avatar-interviewer-img {
    width: 100% !important;
    height: 200px !important; 
    object-fit: contain;
    border-radius: 10px;
    padding-top: 20px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.423);
    background-image: url('../assets/bg.jfif');
    background-size: cover;

}

.video-feed {
    position: relative;
    border-radius: 10px;
    width: 100% !important;
    height: 400px !important; 
    object-fit: cover;  
    transform: scaleX(-1);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.423);

}

.video-area {
    background: var(--text-color);
    position: relative;
    width: 100%;
    height: 400px !important; 
    border-radius: 10px;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.423);

}

.btn-record {
  background: var(--primary-color) !important;
  border: none !important;
  border-radius: 50px !important;
  width: 180px;
  height: 40px;
}

.btn-mute , .btn-videorecord{
    color: var(--text-color) !important;
    background: var(--acttivit-card-bg) !important;
    height: auto;
    border-radius: 10px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px ;
    width: 40px;
    border: none !important;
}
.btn-videorecord > svg{
  height: 30px;
}
.btn-mute > svg{
  height: 20px;
}
.btn-mute:hover , .btn-videorecord:hover{
  color: var(--primary-color) !important;
}

.btn-mute.muted {
  color: var(--primary-color) !important; /* Change color when muted */
}
.interview-tools{
    position: absolute;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    bottom: 15px;

}

.pause-indicator {
    background: var(--font-white) !important;
    color: red !important;
    width: 60px;
    height: 60px;
    border: none !important;
    border-radius: 50% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
}
.btn-startinterview{
  background: var(--primary-color) !important;
  color: var(--font-white) !important;
  text-decoration: none !important;
  width: 230px;
  height: 45px;
  border-radius: 50px !important;
}
.btn-startinterview > svg{
  width: 18%;
  height: 65%;
}
.btn-startinterview > p{
  width: 80%;
  font-size: 18px;
  margin: 0;
  text-align: left;
}
/* .feedback-user-area {
    background: var(--acttivit-card-bg);
    border-radius: 50px;
    height: 100px;
    padding: 20px;
    width: 100%;
} */
.tips-container {
  display: flex; /* Use flexbox to align items */
  justify-content: flex-end;
  align-items: center; /* Center items vertically */
  position: absolute; /* Allow positioning of the entire container */
  top: 10px; /* Distance from the top */
  left: 10px; /* Distance from the right */
  gap: 0;
  z-index: 1000; /* Ensure it appears above other content */
}

.tips {
  background-color: var(--font-white); /* Light background */
  border: none; /* No border */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 5px; /* Inner spacing */
  max-width: 100%; /* Max width of the message bubble */
  margin-left: 18px; /* Space between the tips and the avatar */
  position: relative;
}

.tips::after {
  content: ""; /* No text content */
  position: absolute; /* Position it absolutely */
  left: -10px; /* Position it to the left of the tips */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust for vertical centering */
  border-top: 10px solid transparent; /* Top side of the triangle */
  border-bottom: 10px solid transparent; /* Bottom side of the triangle */
  border-right: 10px solid var(--font-white); /* Color of the triangle */
  width: 0; /* No width */
  height: 0; /* No height */
}

.tips-header {
  font-size: 10px;
  font-weight: bold; /* Bold header */
  margin-bottom: 0px; /* Space below the header */
  color: var(--primary-color); /* Darker color for the header */
}

.tips-content {
  margin: 0px 0; /* Space above and below the content */
  font-size: 9px; /* Font size for the message content */
  color: #333; /* Dark color for the text */
}
.tips-avatar {
  width: 40px; /* Width of the avatar */
  height: 40px; /* Height of the avatar */
  border-radius: 50%; /* Circular avatar */
  background: var(--acttivit-card-bg);
  border: 2px solid var(--primary-color); /* White border around the avatar */
}
.countdown-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */

}

.countdown-overlay > h2 {
  color: var(--font-white) !important;
  font-weight: 700;
}
.camera-retry-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white; /* Text color */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.speech-subtitle-overlay{
  position: absolute;
  z-index: 100;
  height: auto;
  width: auto;
  bottom: 75px;
  color: var(--font-white);
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
}
/* BehavioralCategoryPopup */
.behavioral-card {
  height: 150px;
  align-items: center;
  border-radius: 50px;
}

.behavioral-card > .card-title {
  font-size: 22px;
  color: var(--font-white);
  height: 2px;
  padding: 0;
  line-height: 0;
}

/* InterviewSuccesspopup */
.interviewsuccess-modal-width {
  width: 800px !important;
  height: 60% !important;
  max-height: 60vh !important;}

.interviewsuccess-modal-width .modal-body {
  padding: 0px 20px 20px 20px !important;
}

.interviewsuccess-modal-width p {
  font-size: 18px;
  text-align: center;
}

.interviewsuccess-modal-width .btn-analytics{
  background: var(--primary-color);
  border-radius: 50px;
  border: none;
  width: 180px;
}
.interviewsuccess-modal-width .btn-return-maindashboard{
  background: var(--secondary-color);
  border-radius: 50px;
  border: none;
  width: 180px;
}
.interviewsuccess-modal-width button:hover,
.interviewsuccess-modal-width button:active {
  background: var(--acttivit-card-bg) !important;
}
.interviewsuccess-modal-width img {
  width: 90px !important;
}

.background-svg3 {
  position: fixed;
  bottom: 0;
  left: 30%;
  /* margin-left: 10px; */
  width: 70%;
  height: auto;
  z-index: -1; /* Ensure the SVG is behind the card */
}
/* @media (max-width: 768px) {
  .summary-card {
    width: 90%; 
    margin: 10px auto; 
  }
} */

.closebtn {
  color: var(--text-color) !important;
  cursor: pointer;
  background-color: transparent !important;
}

.closebtn:hover {
  background-color: transparent !important;
}



/*Custom Intro*/
.introjs-tooltip {
  max-width: 800px; 
  width: auto;
  padding: 10px;
  margin: 0 auto;
}


.introtipsAvatar {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}


.introjs-bullets, .introjs-tooltip-header{
  display: none !important;
}
.introjs-tooltip-inner {
  font-size: 14px; /* Adjust the font size if needed */
}
.introjs-tooltipbuttons{
  border: none !important;
}
.introjs-nextbutton{
  background: var(--primary-color) !important;
  color: var(--font-white) !important;
  border: none;
}

.introjs-arrow {
  border-color: transparent transparent #f5f5f5 transparent; /* Adjust arrow color if needed */
}

/*Loading animation*/
.loadinganimation{
  width: 70px;
  position: relative;
}