
:root {
    --primary-color: #F46A05; 
    --secondary-color: #1706AC;
    --font-white: #fff;
    --card-color: #686868;
    --text-color: #000;
    --acttivit-card-bg: #D9D9D9;
    --card1-bg: #FA8072;
    --card2-bg: #F4A460;
    --card3-bg: #4068E0;
    --card4-bg: #00CED1;
    --card5-bg: #FFA07A;
    --card6-bg: #9370DB;
    --card7-bg: #00BFFF;
}

.maindashboard-container {
    background: var(--font-white);
    background: radial-gradient(circle at top, rgba(255, 255, 255, 1) 18%, rgb(117, 117, 117) 100%);
    min-height: 100vh; 
    width: 100%;
    position: relative; 
    
}
.maindashboard-container > .container {
    width: 65%;
}


.nav-link.active {
    color: var(--primary-color) !important;
    font-weight: bold;
}

.nav-link {
    color: inherit;
    transition: color 0.3s;
}
/*header*/
.dashboard-header > h3 {
    color: var(--primary-color);
    padding: 0;
    margin: 0;
}

.career-search-container {
    width: 100%;
    justify-content: flex-end;
}

.career-search {
    position: relative;
    overflow: hidden;   
    width: 80%;
    display: flex;
    align-items: center;  /* Align items vertically */
}

.search-container {
    width: 80%;
    margin-right: 10px;  /* Add margin to the right to give space between input and button */
}

.search-button {
    background: var(--primary-color);
    border: none;
    color: var(--font-white);
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    width: 40px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
}

.careerSelect > select {
    background: var(--primary-color);
    color: var(--font-white);
    margin: 0;
    border-radius: 50px; 
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 120px;
}

.search-container {
    width: 80%;
}

.careerSelect > input {
    border-radius: 0px;
    margin: 0;
}

.dropdown-icon {
    margin-left: -30px; 
    color: var(--font-white);
}


.position-relative {
    position: relative;
}

.dropdown-icon {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    color: var(--font-white);
    pointer-events: none;
}
.main-container1 {
    flex-direction: column;
    gap: 20px;
    padding: 0px !important;
    height: 120vh;
}
.category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
    padding: 15px;
    border: 1px solid var(--font-white);
    border-radius: 50px 0px 0px 50px;
    overflow-y: scroll;
    height: 100vh;
    scrollbar-color: var(--primary-color) #f1f1f1;
}

@keyframes glow {
    0% {
        box-shadow: 0px 0px 10px var(--primary-color), 0px 0px 20px var(--primary-color);
    }
    50% {
        box-shadow: 0px 0px 20px var(--primary-color), 0px 0px 30px var(--primary-color);
    }
    100% {
        box-shadow: 0px 0px 10px var(--primary-color), 0px 0px 20px var(--primary-color);
    }
}

.category-card {
    color: var(--font-white) !important;
    border-radius: 50px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    width: 170px;
    height: 170px;
    transition: background 0.2s ease;
    background: var(--card2-bg);
}


/* .category-card:hover {
    animation: glow 1.5s infinite alternate;
    animation-delay: 0.3s;
} */

.img-category {
    width: 100%;
    height: 100px;
    /* background-color: rgba(255, 255, 255, 0.2); */
    border-radius: 10px;
    margin-bottom: 10px;
}

.card-title {
    margin: 0;
    text-align: center;
    font-size: 11px;
    height: 15px;
    padding: 10px;
}

.card-col {
    flex: 1 1 33%;
    max-width: calc(30.33% - 0px) !important;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.summary-card {
    width: 300px;
    height: 120vh !important;
    background: var(--font-white) !important;
    color: var(--secondary-color) !important;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 0;
    border-radius: 50px !important;
}

.card-text {
    color: var(--secondary-color) !important;
    font-weight: 500;
    padding:0px 20px;
    margin: 0;
    font-size: 18px;

}

.activity-results-container {
    display: flex;
    gap: 15px;
    padding: 20px;
}

.activity-container, .results-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activity-container {
    width: 70%;
    gap: 10px;
}

.activity-card, .result-of-interview {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin: 5px 0;
}

.activity-card {
    min-height: 40px;
    background: var(--acttivit-card-bg) !important;
    border-radius: 50px;
}

.result-of-interview {
    min-height: 40px;
}

.activity-card > .category-name {
    font-size: 10px;
    color: var(--text-color);
    margin: 0;
}

.activity-card > .type-of-interview {
    font-size: 9px;
    color: var(--primary-color);
    margin: 0;
}

.activity-card > .date-of-interview {
    font-size: 8px;
    color: var(--card-color);
    margin: 0;
}

.results-container > p, .activity-container > p {
    margin: 0 !important;
    color: var(--text-color);
}

.activity-card, .result-of-interview {
    height: 40px;
    justify-content: center;
    color: var(--text-color);
    font-weight: 500;
}

.summary-card > .card-title {
    text-align: left;
    padding: 20px;
    font-weight: 700;
    font-size: 25px;
}

.subcription-reminder-container {
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

.line-color-orange {
    background-color: var(--primary-color);
    width: 75%;
    height: 2px;
    margin-top: 20px;
}

.subcription-reminder {
    width: 90%;
    background-color: var(--acttivit-card-bg);
    border-radius: 50px;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0px 4px 5px 0px rgba(135, 135, 135, 0.686);
}

.subcription-reminder > .sub-reminder-text {
    font-size: 18px;
    text-align: center;
    color: var(--primary-color);
    font-weight: 700;
    margin: 0;
}

.warning {
    color: red;
    font-size: 50px;
    font-weight: 900;
    width: 20px;
    height: 40px;
    background: var(--acttivit-card-bg);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.subcription-reminder > p {
    font-size: 11px;
    color: var(--text-color);
}

.summary-avatar-img-bg {
    background-image: url('../assets/summary-img.png');
    background-position: bottom right; /* Position at the bottom right */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-size: contain; /* Adjust size to fit the container */
    width: 100%; /* Ensure the div takes full width */
    height: 220px; /* Set a height for visibility */
    margin-top: 20px; /* Optional: add some space above */
    border-radius: 30px;
}


.upload-area{
    height: 45vh;
    flex-direction: column;
    justify-content: center;
    border-style:dashed ;
    color: var(--primary-color);
    border-color: var(--text-color);
}
.upload-area > i, .upload-area > p{
    color: var(--text-color);
}

.upload-area > button{
    background: var(--primary-color) !important;
    border: none;
    border-radius: 50px;
    color: var(--font-white) !important;
    font-style: italic;
    width: 100px;
    height: 40px;
}
.upload-area > button:hover{
    background: var(--font-white)  ;
}
.textarea-container {
    position: relative;
}
.char-count {
    position: absolute;
    bottom: 0px;
    right: 10px;
    font-size: 0.9rem;
    color: #6c757d;
}
.submit-job-description{
    width: 100%;
    justify-content: center;
}
.submit-job-description > button{
    background: var(--primary-color);
    color: var(--font-white);
    border: none;
    border-radius: 50px;
    width: 100px;
}

.custom-video-record-modal-width {
    max-width: 1100px !important; /* Adjust the width as needed */
    width: 85% !important; /* Make it responsive */
    height: 80% !important;
    max-height: 60vh !important;
}

.interview-question-container{
    background: var(--acttivit-card-bg);
    border-radius: 50px;
    padding: 20px;
    width: 100%;
    height: 140px;
}
.timer {
    color: var(--font-white) !important;
}

.avatar-interviewer-img {
    width: 100% !important;
    height: 400px !important; /* Fixed height */
    object-fit: contain;
}

.video-feed {
    border-radius: 10px;
    width: 100% !important;
    height: 370px !important; 
    object-fit: cover;  
    transform: scaleX(-1);
}
.video-area {
    background: var(--text-color);
    position: relative;
    width: 100%;
    height: 370px !important; /* Ensure it takes up full available height */
    border-radius: 10px;
    flex-direction: column;
    gap: 10px;
}
.btn-record{
    background: var(--primary-color) !important;
    border: none !important;
    border-radius: 50px !important;
    width: 180px;
    height: 40px;
}
.btn-mute{
    color: var(--text-color) !important;
    background: var(--acttivit-card-bg) !important;
    width: 40px;
    height: auto;
    border-radius: 10px;

}
.pause-indicator {
    background: var(--font-white);
    color: red;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}
.feedback-user-area{
    background: var(--acttivit-card-bg);
    border-radius: 50px;
    height: 100px;
    padding: 20px;
    width: 100%;
}
.countdown-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*BehavioralCategoryPopup*/
.behavioral-card{
    height: 150px;
    align-items: center;
    border-radius: 50px;
}
.behavioral-card > .card-title{
    font-size: 22px;
    color: var(--font-white);
    height: 2px;
    padding: 0;
    line-height: 0;
}

/*InterviewSuccesspopup*/
.interviewsuccess-modal-width{
    width: 800px !important;
}
.interviewsuccess-modal-width  .modal-body{
    padding-bottom: 0 !important;
}
.interviewsuccess-modal-width p{
    font-size: 18px;
    text-align: center;
}
.interviewsuccess-modal-width  button{
    background: var(--primary-color);
    border-radius: 50px;
    border: none;
}
.interviewsuccess-modal-width  img{
    width: 200px !important;
}