:root {
  --primary-color: #f46a05;
  --secondary-color: #1706ac;
  --font-white: #fff;
  --card-color: #686868;
  --text-color: #000;
  --input-bg: #686868;
  --acttivit-card-bg: #d9d9d9;
}
.custom-modal-width {
  max-width: 1200px !important;
  width: 90% !important;
  /* height: 90% !important; */
  max-height: 90vh !important;
  border: none !important;
}
.custom-modal-width > .modal-content {
  background: url("../assets/bg-pop-up.png") no-repeat;
  background-size: cover;
  border-radius: 20px;
  border: none;
  height: 100%;
}

.main-container {
  position: relative;
}
.maindashboard-container1 {
  width: 100%;
  padding: 30px;
  z-index: 1; /* Place above the background */
  overflow: hidden;
}

.background-svg1 {
  position: fixed; /* Use fixed positioning for the SVG */
  bottom: 0; /* Align to the bottom */
  left: 0; /* Align to the left */
  z-index: -1; /* Send it to the back */
  width: 150px;
  height: 150px; /* Fixed height */
  width: auto; /* Maintain aspect ratio */
}
.maindashboard-container {
  padding: 20px 20px 0px 20px;
}
.maindashboard-container > .container {
  width: 65%;
}

.nav-link.active {
  color: var(--primary-color) !important;
  font-weight: bold;
  fill: var(--primary-color) !important;
}

.nav-link {
  color: inherit;
  transition: color 0.3s;
}

/* Header */
.dashboard-header > h3 {
  color: var(--primary-color);
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  width: 100%;

}
.dashboard-header > p,
.mock-interview-container-header > p {
  font-size: 12px;
  font-weight: 500;
  color: var(--card-color);
}
/*maindashboard*/

.mock-interview-container-header > h4 {
  font-size: 20px;
  font-weight: 600;
  padding: 0;
  margin: 0;
  color: var(--secondary-color);
}

.main-container1 {
  flex-direction: column;
  gap: 20px;
  padding: 0px !important;
  height: auto;
}

.category-container {
  width: 100%;
  height: 65vh;
  position: relative;
  padding: 40px 40px 0px 40px;
}

/* Base styles for the cards */
.category-card1,
.category-card2,
.category-card3 {
  color: var(--font-white) !important;
  display: flex;
  border: none !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 33%;
  height: 100%;
  max-width: 350px;
  max-height: 470px;
  background: #ACABAB;
  filter: grayscale(100%);
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out;
  border: 5px solid var(--font-white) !important;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 5px #68686846;
  opacity: 1; /* Ensure visibility */
}
.category-card1::before,
.category-card2::before,
.category-card3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
  z-index: 20;
  transition: filter 0.3s ease;

}

@media (min-width: 1600px) {
  .category-card1,
  .category-card2,
  .category-card3{
    max-width: 390px !important;
    max-height: 380px !important;
  }
  .category-description{
    font-size: 15px !important;
  }
  .category-card-title1,
  .category-card-title2,
  .category-card-title3{
    font-size: 3.1em !important;
  }
}
@media (min-width: 1700px) {
  .category-card1,
  .category-card2,
  .category-card3{
    max-width: 420px !important;
    max-height: 540px !important;
  }
  .category-description{
    font-size: 15px !important;
  }
  .category-card-title1,
  .category-card-title2,
  .category-card-title3{
    font-size: 3.5em !important;
  }
  .category-card-tronArrow {
    top: 90px !important;
  }
  .category-card-tronArrow img {
    width: 50% !important;
  }
  .category-card-RectangelScribble{
    top: 150px !important;
    height: 10% !important;
  }
  .category-card-checkCircle img,
  .category-card-pin img,
  .category-card-magnifyingGlass img {
    width: 60px !important;
    height: 60px !important;
  }
}
@media (min-width: 1800px) {
  .category-card1,
  .category-card2,
  .category-card3{
    max-width: 450px !important;
    max-height: 570px !important;
  }
  .category-description{
    font-size: 17px !important;
  }
  .category-card-title1,
  .category-card-title2,
  .category-card-title3{
    font-size: 4em !important;
  }
  .category-card-checkCircle img,
  .category-card-pin img,
  .category-card-magnifyingGlass img {
    width: 65px !important;
    height: 65px !important;
  }
}

/* Specific background images for each card */
.category-card1.bg-behavioral::before {
  background-image: url(../assets/behavioral.png); /* Replace with your actual image path */
  background-size: 55%;
  background-position: center bottom 0 !important;

}
/* Hover effect for category-card1 */
.category-card1.bg-behavioral:hover {
  transition: transform 0.5s ease-in-out;
  background: rgb(244, 106, 5);
  background: linear-gradient(167deg, rgba(244, 106, 5, 1) 0%, rgba(255, 157, 85, 1) 73%);
  filter: grayscale(0%);
}

.category-card1.bg-behavioral:hover::before {
  scale: 0.7;
  transition: transform 0.3s ease-in-out;
  bottom: -20% !important;
}
.category-card1.bg-behavioral::before {
  transition: transform 0.4s ease-in-out; /* Smooth animation on unhover */
}
.category-card2.bg-basic::before {
  background-image: url(../assets/basic.png); /* Replace with your actual image path */
  background-size: 65%;
  background-position: center bottom 0 !important;

}
/* Hover effect for category-card2 */
.category-card2.bg-basic:hover {
  transition: transform 0.3s ease-in-out;
  background: rgb(244, 106, 5);
  background: linear-gradient(209deg, rgba(244, 106, 5, 1) 0%, rgba(255, 157, 85, 1) 82%);
  filter: grayscale(0%);
}

.category-card2.bg-basic:hover::before {
  scale: 0.7;
  transition: transform 0.3s ease-out;
  bottom: -20% !important;
}

.category-card3.bg-expert::before {
  background-image: url(../assets/expert.png); /* Replace with your actual image path */
  background-size: 60%;
  background-position: center bottom 0 !important;
}
/* Hover effect for category-card3 */
.category-card3.bg-expert:hover {
  transition: transform 0.3s ease-in-out;
  background: rgb(244, 106, 5);
  background: linear-gradient(120deg, rgba(244, 106, 5, 1) 0%, rgba(255, 157, 85, 1) 82%);
  filter: grayscale(0%);
}

.category-card3.bg-expert:hover::before {
  scale: 0.7;
  transition: transform 0.3s ease-out;
  bottom: -20% !important;
}

.category-card3.bg-expert::before {
  transition: transform 0.4s ease-in-out; /* Smooth animation on unhover */
}

.category-card1:hover::before,
.category-card2:hover::before,
.category-card3:hover::before {
  filter: grayscale(0%);
}

.category-card-title1,.category-card-title2, .category-card-title3 {
  font-size: 2.6em;
  text-align: center;
  white-space: nowrap;
  margin: 0;
  position: absolute;
  top: 10px;
  font-weight: 500;
  z-index: 20;
  transition: transform 0.3s ease;
}
/* Hover effect for category card titles */
.category-card1:hover .category-card-title1,
.category-card2:hover .category-card-title2,
.category-card3:hover .category-card-title3 {
  scale: .9;
  top: 20px;
  transition: scale 0.3s ease, top 0.3s ease;
}
.category-before-content{
  height: 90%;
  width: 100%;
  background: var(--secondary-color);
}
.category-before-content > svg{
  height: 100%;

}
.category-description {
  position: absolute;
  z-index: 200;
  font-size: 0.8rem;
  padding: 10px;
  top: 20%;
  text-align: center;
  width: 90%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.1s, opacity 0.1s linear;
}
/* Hover effect for category card descriptions */
.category-card1:hover .category-description,
.category-card2:hover .category-description,
.category-card3:hover .category-description {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease;
}
.description1 {
  position: absolute;
  z-index: 200;
  font-size: 1.2rem;
  padding: 10px;
  top: 178px;
  left: 75px;
  text-align: center;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.category-card1:hover .description1,
.category-card2:hover .description2,
.category-card3:hover .description3 {
  visibility: hidden;
  opacity: 0;
}
.category-card1.bg-behavioral:hover .category-card-checkCircle,
.category-card2.bg-basic:hover .category-card-pin,
.category-card3.bg-expert:hover .category-card-magnifyingGlass {
  display: block; /* Show on hover */
}
/* element style */
.category-card-checkCircle {
  display: none;
  position: relative;
  margin: 5px;
  bottom: 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s ,opacity 0.1s linear;
}

.category-card1:hover .category-card-checkCircle,
.category-card2:hover .category-card-pin,
.category-card3:hover .category-card-magnifyingGlass {
  visibility: visible;
  opacity: 1;
}
.category-card-checkCircle img {
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  color: var(--font-white);
  transition: transform 0.3s ease;
}
.category-card-tronArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 200;
  top: 70px;
  visibility: visible;
  opacity: 1;
}
.category-card-tronArrow.reverse {
  transform: scaleX(-1); /* Flip vertically */
}
.category-card1:hover .category-card-tronArrow,
.category-card2:hover .category-card-tronArrow,
.category-card3:hover .category-card-tronArrow {
  visibility: hidden;
  opacity: 0;
}
.category-card-tronArrow img {
  width: 40%;
  /* height: 20%; */
  border: none;
  background: none;
  color: var(--font-white);
}
.category-card-RectangelScribble {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 200;
  top: 120px;
  visibility: visible;
  opacity: 1;
}
.category-card1:hover .category-card-RectangelScribble,
.category-card2:hover .category-card-RectangelScribble,
.category-card3:hover .category-card-RectangelScribble{
  visibility: hidden;
  opacity: 0;
}

.category-card-RectangelScribble svg {
  width: 70%;
  /* height: 200px; */
  border: none;
  background: none;
  color: var(--font-white);
  transition: transform 0.3s ease;
}


.description2 {
  position: absolute;
  z-index: 200;
  font-size: 1rem;
  padding: 10px;
  top: 283px;
  left: 230px;
  text-align: center;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}
.category-card-pin {
  display: none;

  position: relative;
  margin: 5px;
  bottom: 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s ,opacity 0.1s linear;
}
.category-card-pin img {
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  color: var(--font-white);
  transition: transform 0.3s ease;
}






.description3 {
  position: absolute;
  z-index: 200;
  font-size: 1.2rem;
  padding: 10px;
  bottom: -8px;
  left: 240px;
  /* wrap: wrap; */
  text-align: center;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}
.category-card-magnifyingGlass {
  position: relative;
  display: none;
  margin: 5px;
  bottom: 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s ,opacity 0.1s linear;
}
.category-card-magnifyingGlass img {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  color: var(--font-white);
  transition: transform 0.3s ease;
  transform: scaleX(-1); /* Flip vertically */

}




.header-text-interview {
  width: 75%;
  height: 30px;
}

.header-text-interview > p {
  padding: 0;
  border: 3px solid var(--primary-color);
  border-top: none;
  border-left: none;
  border-right: none;
  line-height: 15px;
  color: var(--primary-color);
  padding-bottom: 5px;
}

.skill-col {
  width: 75%;
  flex-wrap: wrap;
  gap: 20px;
}

.skill-card {
  background: var(--card-color);
  transition: background 0.2s ease;
  width: 150px;
  min-width: 45%;
  height: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-white);
}
.skill-card:hover {
  animation: glow 1.5s infinite alternate;
  animation-delay: 0.5s;
  background: var(--primary-color);
  box-shadow: 0 0 10px var(--primary-color), 0 0 30px var(--primary-color); /* Glow effect */
}

.skill-card > .skill-title {
  text-align: center;
  font-size: 15px;
  margin: 0;
}

.skill-space {
  width: 25%;
}
@media (max-width: 768px) {
  .career-search-container {
    flex-direction: column; /* Stack elements vertically */
    align-items: stretch; /* Full width */
  }

  .career-search {
    width: 100%; /* Full width for mobile */
  }

  .category-container {
    flex-direction: column; /* Stack categories vertically */
    padding: 10px; /* Adjust padding */
  }

  .category-card {
    width: 100%; /* Full width cards */
    margin-bottom: 10px; /* Space between cards */
  }
}

.upload-area {
  height: 45vh;
  flex-direction: column;
  justify-content: center;
  border-style: dashed;
  color: var(--primary-color);
  border-color: var(--text-color);
}

.upload-area > p {
  color: var(--text-color);
  font-weight: 800;
  margin: 0 !important;
}
.upload-area > i {
  font-weight: 200;
  color: var(--card-color);
}
.upload-area > button {
  background: var(--primary-color) !important;
  border: none;
  border-radius: 50px;
  color: var(--font-white) !important;
  font-style: italic;
  width: 100px;
  height: 40px;
}

.upload-area > button:hover {
  background: var(--font-white);
}

.textarea-container {
  position: relative;
}

.char-count {
  position: absolute;
  bottom: 0px;
  right: 10px;
  font-size: 0.9rem;
  color: #6c757d;
}

.submit-job-description {
  width: 100%;
  justify-content: center;
}

.submit-job-description > button {
  background: var(--primary-color);
  color: var(--font-white);
  border: none;
  border-radius: 50px;
  width: 100px;
}
.submit-job-description > button:hover,
.submit-job-description > button:disabled {
  background: var(--card-color);
}
.custom-video-record-modal-width {
  max-width: 1700px !important;
  width: 90% !important;
  height: 90% !important;
  max-height: 80vh !important;
}
.custom-video-record-modal-width > .modal-content {
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  height: 100% !important;
}
.video-recording-row {
  height: 90% !important;
}
.video-recording-row > .col-md-7,
.video-recording-row > .col-md-5 {
  height: 100% !important;
}
.tips-row {
  height: 10% !important;
}
.interview-question-container {
  background: var(--font-white);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  height: 44%;
  border: 1px solid var(--primary-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.423);
  font-size: 16px;
  position: relative;
  overflow: auto;
}

.interview-question-container > p {
  margin: 0;
  position: relative;
}

  
.interview-question-container > .interview-content {
  height: 50%;
}
.interview-question-container > .container-startinterview {
  height: 50%;
  gap: 0 !important;
}
.interview-question-container > div > i {
  font-size: 12px !important;
  text-align: center;
  width: 100% !important;
  font-weight: 200;
  color: var(--text-color) !important;
}
@media (min-width: 1500px) {
  .interview-question-container,
  .speech-subtitle-overlay {
    font-size: 19px !important;
  }
  .interview-question-container > p {
    font-size: 19px;
  }
  .btn-startinterview {
    width: 200px !important;
    height: 40px;
  }
}
.timer {
  color: var(--font-white) !important; /* Keep the text color */
  background-color: var(--text-color); /* Semi-transparent black */
  padding: 5px; /* Add some padding for better readability */
  border-radius: 5px; /* Optional: round the corners */
}

.speech-subtitle-container {
  width: 100% !important;
  height: 52% !important;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px !important;
  border: 1px solid var(--primary-color);
  background: var(--primary-white) !important;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.423);
  margin-bottom: 1rem; /* Add space between avatar and question container */
}
.speech-subtitle-container > .speech-default-subtitle {
  margin: 0;
  /* font-size: 13px; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  width: 100%;
}

.speech-subtitle-container > .speech-subtitle-overlay {
  height: 100%;
  font-size: 16px;
  margin: 0;
  overflow: none;
  display: flex;
  overflow-y: auto !important;
  overflow-x: hidden;
  align-items: start;
}
/* .speech-subtitle-container > .speech-subtitle-overlay {
  position: relative;
  display: flex;
  align-items: flex-end; 
  width: 90%;
  height: 90% !important;
  color: var(--text-color);
  text-align: left;
  background: var(--input-bg);
} */
.video-feed {
  position: relative;
  border-radius: 10px;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  transform: scaleX(-1);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.423);
}
.video-feed-invert {
  position: relative;
  border-radius: 10px;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.423);
}

.video-area {
  background: var(--text-color);
  /* background: var(--card-color); */
  position: relative;
  width: 100%;
  height: 100% !important;
  border-radius: 10px;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.423);
}

.btn-record {
  background: var(--primary-color) !important;
  border: none !important;
  border-radius: 50px !important;
  width: 180px;
  height: 40px;
}

.btn-mute,
.btn-videorecord {
  color: var(--text-color) !important;
  background: var(--font-white) !important;
  height: auto;
  border-radius: 10px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: none !important;
}
.btn-videorecord > svg {
  height: 30px;
}
.btn-mute > svg {
  height: 20px;
}
.btn-mute:hover,
.btn-videorecord:hover {
  color: var(--primary-color) !important;
}

.btn-mute.muted {
  color: var(--primary-color) !important; /* Change color when muted */
}
.interview-tools {
  position: absolute;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  bottom: 15px;
}

.pause-indicator {
  background: var(--font-white) !important;
  color: var(--text-color) !important;
  height: 40px;
  width: 40px;
  border: none !important;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0;
}
.pause-indicator > svg {
  height: 1em;
  width: 1em;
}
.pause-indicator-spinner {
  width: 20px !important;
  height: 20px !important;
  position: relative;
  top: 2px;
  right: 2px;
}
.btn-startinterview {
  background: var(--primary-color) !important;
  color: var(--font-white) !important;
  text-decoration: none !important;
  width: 190px;
  height: 40px;
  border-radius: 50px !important;
  justify-content: center;
}
.btn-startinterview > svg {
  width: 18%;
  height: 65%;
}
.btn-startinterview > p {
  width: 75%;
  font-size: 18px;
  margin: 0;
  text-align: left;
}

.tips-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin-top: 10px !important;
}

.tips {
  background-color: var(--acttivit-card-bg); /* Light background */
  border: none; /* No border */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 5px; /* Inner spacing */
  max-width: 100%; /* Max width of the message bubble */
  position: relative;
}

.tips-header {
  font-size: 15px;
  font-weight: bold; /* Bold header */
  margin-bottom: 0px; /* Space below the header */
  color: var(--primary-color); /* Darker color for the header */
}

.tips-content {
  margin: 0px 0; /* Space above and below the content */
  font-size: 12px; /* Font size for the message content */
  color: #333; /* Dark color for the text */
}
.tips-avatar {
  width: 35px; /* Width of the avatar */
}
.response-indicator {
  font-size: 17px;
  position: absolute;
  z-index: 1;
  bottom: 55px; /* Adjust this value as needed */
  background: var(--primary-color);
  border: none; /* No border */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 5px; /* Inner spacing */
  text-align: center; /* Center the text */
  transition: opacity 0.3s ease;
  color: var(--font-white);
}

.response-indicator::after {
  content: "";
  position: absolute;
  left: 50%; /* Center the triangle horizontally */
  bottom: -17px; /* Position it just below the indicator */
  margin-left: -10px; /* Adjust to center the triangle */
  border-width: 10px; /* Size of the triangle */
  border-style: solid;
  transform: rotate(180deg);
  border-color: transparent transparent var(--primary-color) transparent; /* Triangle color */
}

/* Hide the response indicator on hover */
#startButton:hover + .response-indicator {
  opacity: 0;
}

.countdown-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
}

.countdown-overlay > h2 {
  color: var(--font-white) !important;
  font-weight: 700;
}
.camera-retry-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white; /* Text color */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* InterviewSuccesspopup */
.interviewsuccess-modal-width {
  width: 800px !important;
  height: 60% !important;
  max-height: 60vh !important;
}

.interviewsuccess-modal-width .modal-body {
  padding: 0px 20px 20px 20px !important;
}

.interviewsuccess-modal-width p {
  font-size: 18px;
  text-align: center;
}

.interviewsuccess-modal-width .btn-analytics {
  background: var(--primary-color);
  border-radius: 50px;
  border: none;
  width: 180px;
}
.interviewsuccess-modal-width .btn-return-maindashboard {
  background: var(--secondary-color);
  border-radius: 50px;
  border: none;
  width: 180px;
}
.interviewsuccess-modal-width button:hover,
.interviewsuccess-modal-width button:active {
  background: var(--input-bg) !important;
}
.interviewsuccess-modal-width img {
  width: 90px !important;
}

.background-svg3 {
  position: fixed;
  bottom: 0;
  left: 30%;
  /* margin-left: 10px; */
  width: 70%;
  height: auto;
  z-index: -1; /* Ensure the SVG is behind the card */
}
/* @media (max-width: 768px) {
  .summary-card {
    width: 90%; 
    margin: 10px auto; 
  }
} */

.closebtn {
  color: var(--text-color) !important;
  cursor: pointer;
  background-color: transparent !important;
}

.closebtn:hover {
  background-color: transparent !important;
}
/*Interview preview option*/
.interviewpreview-modal-width .modal-body {
  border-radius: 20px;
}
.interviewpreview-modal-width button {
  width: 200px;
  border-radius: 50px;
  border: none;
}
.interviewpreview-modal-width button:nth-child(1) {
  background: var(--input-bg) !important;
}
.interviewpreview-modal-width button:nth-child(2) {
  background: var(--primary-color) !important;
}
/*Custom Intro*/

.introjs-tooltip {
  max-width: 800px;
  width: auto;
  padding: 10px;
  margin: 0 auto;
}

.introtipsAvatar {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}

.introjs-bullets,
.introjs-tooltip-title {
  display: none !important;
}
.introjs-tooltip-inner {
  font-size: 14px; /* Adjust the font size if needed */
}
.introjs-tooltipbuttons {
  border: none !important;
}
.introjs-nextbutton {
  background: var(--primary-color) !important;
  color: var(--font-white) !important;
  border: var(--primary-color) !important;
  text-shadow: none !important;
  box-shadow: none !important;
}
.introjs-prevbutton {
  text-shadow: none !important;
  box-shadow: none !important;
}
.introjs-arrow {
  border-color: transparent transparent #f5f5f5 transparent; /* Adjust arrow color if needed */
}

/*Loading animation*/
.loadinganimation {
  width: 70px;
  position: relative;
}

.mute-indicator {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 100;
}

.mute-indicator svg {
  font-size: 20px;
  color: var(--acttivit-card-bg);
}

.video-recording-page {
  min-height: 100vh;
  width: 100%;
  padding: 4rem 3em 0em 3em;
  background: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.video-recording-content {
  max-width: 1500px !important;
  width: 95% !important;
  margin: 0 auto !important;
  height: 87vh;
  max-height: 680px !important;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  padding: 2rem;
  margin: 0 !important;
  margin-bottom: 2rem;
}

/* Responsive styles for different screen sizes */
@media (min-width: 1200px) {
  .video-recording-content {
    width: 85%;
    max-width: 1800px;
  }

  /* .video-area {
    height: 450px !important;
  } */
}

@media (min-width: 1600px) {
  .video-recording-content {
    width: 80%;
    max-width: 2000px;
  }
  .dashboard-header > p,
  .mock-interview-container-header > p {
    font-size: 12px;
  }
  /* 
  .video-area {
    height: 550px !important;
  } */
}

/* Add responsive styles */
@media (max-width: 768px) {
  .video-recording-page {
    padding: 1rem;
  }

  .video-recording-content {
    width: 95%;
    padding: 1rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .video-recording-page {
    padding: 0.5rem;
  }

  .video-recording-content {
    width: 100%;
    border-radius: 10px;
    padding: 0.75rem;
  }
}

/* Interviewer Option Modal Styles */
.interviewer-option-modal .modal-content {
  /* border-radius: 20px;
  border: 2px solid var(--primary-color); */
  width: 500px !important;
}

.interviewer-btn {
  background: var(--secondary-color) !important;
  border: none !important;
  border-radius: 50px !important;
  padding: 10px 30px;
  width: 200px;
  transition: all 0.3s ease;
}
.interviewer-btn:nth-child(2) {
  background: var(--primary-color) !important;
}

.interviewer-btn:hover {
  background: var(--input-bg) !important;
}

.interviewer-image {
  max-width: 100px;
  height: auto;
  border-radius: 10px;
}

.video-preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  background: var(--text-color) !important;
}
.view-result-container {
  height: 30% !important;
}
.outro-text-container {
  height: 70%;
}
.interview-question-container1 {
  background: var(--font-white);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  height: 35%;
  border: 1px solid var(--primary-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.423);
  font-size: 16px;
  position: relative;
  overflow: auto;
}
.interview-preview-avatar {
  background-image: url("../assets/preview-avatar.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 70% !important;
  width: 50%;
  right: 0;
  position: relative; /* This establishes the stacking context */
  z-index: 10; /* Ensure it has a higher z-index */
  top: 4%;
}

.orange-box-avatar-sitting {
  background: var(--primary-color);
  border-radius: 10px;
  width: 35%;
  height: 12% !important;
  position: absolute;
  bottom: 30%;
  z-index: 5; /* Lower z-index ensures it's behind */
  right: 80px;
}

.btn-viewresult {
  background: var(--secondary-color) !important;
  border-radius: 50px !important;
  border: none !important;
  width: 200px;
}
.preview-title {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 30px;
  color: var(--font-white);
}

  /* Customizing the scrollbar */

  .interview-question-container::-webkit-scrollbar{
    width: 8px !important; /* Scrollbar width */
  }
  
  .interview-question-container::-webkit-scrollbar-thumb{
  
    background-color: var(--primary-color) !important; /* Scrollbar thumb color */
    border-radius: 6px !important; /* Rounded corners */
  }
  
  .interview-question-container::-webkit-scrollbar-thumb:hover{
    background-color: var(--primary-color) !important; /* Scrollbar thumb color */
  }
  
  .interview-question-container::-webkit-scrollbar-track {
    background-color: #f1f1f1 !important; /* Track color */
    border-radius: 6px !important; /* Rounded corners for the track */
  }