
.reference-request-form-content {
    width: 70%;
    max-width: 730px;
    border-radius: 20px;
        border: 1px solid #dedede;
        background: var(--font-white);
  
}

.reference-request-form-header {
    border-radius: 20px 20px 0px 0px;
    background: var(--primary-color);
    padding: 30px 100px;
        color: var(--font-white);
    position: relative;
    top: 0;
    left: 0;
    width: 100%; /* Ensures full width */
    border: none;
    margin: 0 !important;
    z-index: 1000;
    background: linear-gradient(97deg, rgba(255, 157, 85, 1) 0%, rgba(245, 110, 11, 1) 79%, rgba(244, 106, 5, 1) 100%);
}
.reference-request-form-header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("data:image/svg+xml,%3Csvg width='840' height='94' viewBox='0 0 840 94' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M221.852 62.0905C84.842 103.624 36.3506 89.637 0 73.6387V94H839.634C839.634 94 840.458 88.9351 839.634 29.0375C838.81 -30.8601 672.713 13.7905 555.032 56.4972C453.636 93.2935 404.167 75.2593 338.27 55.3041C305.143 49.3553 269.226 47.7296 221.852 62.0905Z' fill='url(%23paint0_linear_4743_3357)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_4743_3357' x1='786.642' y1='60.0643' x2='18.0063' y2='58.5658' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F46A05'/%3E%3Cstop offset='0.925' stop-color='%23FFDCC2'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E") no-repeat left bottom -5px !important;
    background-size: 100% !important;
    z-index: -1;
    
}
.reference-request-form-header > p {
    font-weight: 200 !important;
    font-size: 13px;
}
.reference-request-form {
    padding: 10px 100px 30px 100px;
        font-size: 13px;
}
.reference-request-form-group {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 20px 0px;
}
/* .reference-request-form-label {
    font-size: 1.25rem;
} */
.reference-request-form-input {
    border-radius: 20px;
    border: 1px solid grey;
    color: #333;
    background: #fff;
    height: 30px;
    font-size: 14px;
    padding: 12px 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.referees-section {
    border: none;
    padding: 0;
}
.referees-section h5 {
    border: none;
    border-bottom: 1px solid var(--primary-color);
    padding: 20px 0px;
    text-align: center;
}
.reference-request-referees-field {
    margin: 30px 0px;
    padding: 20px 40px;
    border-radius: 20px;
    background-color: #f46a051a;
    border: 1px solid #F46A05;
}
.form-field-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-size: 15px;
}
.numbering-list {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 18px;
    height: 18px;
    background-color: #F46A05;
    font-size: 12px;
    color: var(--font-white);
}
.form-field-title-text {
    /* font-size: 18px; */
    font-weight: bold;
    color: #F46A05;
}
.orange-text {
    color: #F46A05;
}
.your-reference-request-form-group {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 10px 0px;
}
.your-reference-request-form-label {
    /* font-size: 14px; */
    font-weight: bold;
    color: var(--input-bg);
}
.your-reference-request-form-input {
    border-radius: 20px;
    border: 1px solid rgba(128, 128, 128, 0.43);
    color: #333;
    background: #fff;
    height: 30px;
    font-size: 13px;
    padding: 12px 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.btn-container {
    margin-block: 50px;
}
.reference-request-referee-btn {
    padding: 5px 10px;
    width: 180px;
    border-radius: 20px;
    color: var(--font-white);
}
.cancel-reference-request-referee-btn {
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
}
.send-reference-request-referee-btn {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
}