:root {
  --primary-color: #f46a05;
  --secondary-color: #1706ac;
  --font-white: #fff;
  --input-bg: #686868;
  --bg-fade-signup: #d9d9d9;
  --font-black: #000;
}

.result-container {
  background-color: var(--bg-fade-signup);
  border-radius: 10px;
  position: relative;
}

.interview-result-container,
.interview-container {
  background: var(--font-white) !important;
  color: var(--font-black) !important;
  height: 70vh !important;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.interview-result-container {
  justify-content: flex-start;
  width: 100%;
  border-radius: 10px !important;
}
.interview-data{
  height: 85% !important;
  overflow: auto;
}
.score-section{
  width: 100%;
  height: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.score-section > div {
  width: 100%;
  min-height: 20px;
  height: 50px;
  
}
.rating-name , .rating-name-overall{
  max-width: 700px !important;
  width: 70%;
  border-radius: 50px;
  height: 90%;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin-bottom: 0 !important;
}
.rating-name {
  background-color: var(--bg-fade-signup);
}
.rating-name-overall{
  background-color: var(--primary-color);
  color: var(--font-white);
}
.analytics-container {
  width: 100%;
  position: relative;
  border-radius: 10px !important;
  justify-content: flex-start;
}

.result-red {
  color: #b30000; /* Dark red text */
}

.result-yellow {
  color: #cc9900; /* Dark yellow text */
}

.result-orange {
  color: #e65c00; /* Dark orange text */
}

.result-green {
  color: #009900; /* Dark green text */
}
.question-navination {
  font-size: 34px;
  height: 10%;
}

.question-navination > .prev,
.question-navination > .next {
  color: var(--primary-color);
}

.pageNum {
  color: var(--font-black);
  position: relative;
  bottom: 0px;
  bottom: -10px;
  font-size: 30px;
}
.btnReturn{
  position: relative;
  top: 0;
  bottom: 0;
  right: 2px;
  left: 0;
  margin: 5px;
  border-radius: 50px;
}
.btn-retry{
  background: var(--primary-color) !important;
  padding: 0 !important;
  width: 200px;
  font-size: 20px !important;
}
