:root {
    --primary-color: #f46a05;
    --secondary-color: #1706ac;
    --font-white: #fff;
    --font-black: #000;
    --input-bg: #686868;
    --bg-fade-signup: #d9d9d9;
}


.ResumeFitOptimizer-contentainer {
    padding: 10px 10px 10px 30px ;
    height: calc(100vh - 100px);
}
.ResumeFitOptimizer-content {
    height: 100%;
}
.ResumeFitOptimizer-content > div.header {
    width: 100%;
}
.ResumeFitOptimizer-content > div.header > h4 {
    color: var(--secondary-color);
}






/* UploadDocs */
.upload-docs-container{

}

.upload-docs-content{
    width: 95%;
}

.upload-docs-content > .upload-docs-content-col{
    border: 1px solid #000;
    box-shadow: 0px 4px 4px #00000040;
    border-radius: 25px;
    padding: 25px;
    max-width: 100%;
    min-height: 100%;
}
.ResumeFitOptimizer-uploadDocs-content{

}
.ResumeFitOptimizer-uploadDocs-resume {}
.uploadDocs-resume {}
.uploadDocs-job-description {}


.uploadDocs-resume > .upload-area,
.uploadDocs-job-description > .upload-area {
    height: 170px;
    width: auto;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    background-color: #F2F3F7;
    border: 1px dashed black;
    color: var(--primary-color);
    border-color: var(--text-color);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.uploadDocs-resume > .upload-area > button,
.uploadDocs-job-description > .upload-area > button {
    background: var(--secondary-color) !important;
    font-style: normal;
    padding: 5px 10px;
}
.ResumeFitOptimizer-uploadDocs-job-description {
    height: 170px;
    max-height: 200px;
    width: 100%;
    padding: 20px;
    position: relative;
    background: #F2F3F7;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000040;
    overflow: hidden;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.uploadDocs-job-description {
    height: 170px;
    max-height: 200px; 
    width: 100%;
    transition: border 0.2s ease-in-out;
}
.uploadDocs-job-description:focus-within {
    border: 1px solid black;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.textarea-wrapper {
    height: 170px;
    max-height: 200px; 
    width: 100%;
    background: #F2F3F7; 
    overflow: hidden;
}
#job-description {
    border: none;
    width: 100%;
    height: 135px;
    max-height: 135px; 
    background-color: transparent;
    border: none; /* Removes default border */
    outline: none; 
    resize: vertical; /* Allows user to resize the textarea */
    padding-right: 15px; /* Adds space between content and scrollbar */
    overflow-y: auto; 
}
#job-description:focus,
#job-description:active {
    border: none;
    outline: none;
    box-shadow: none; /* Removes shadow if applied on focus */
}
textarea::placeholder {
    color: var(--font-black);
    font-style: italic;
  }
.ResumeFitOptimizer-aiResumeInsightsSummary-content {
}
.aiResume-insights-summary-content {
}

.aiResume-insights-summary {
}
.upload-docs-btn{}
.btn-continue-optimization {
    padding: 3px 20px;
    margin-right: 5px;
    background: var(--primary-color) !important;
    color: var(--font-white);
    border: none;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}


/* AI Resumes Optimization and Analysis */
.airesumeoptimizationanalysis-container {
    height: 100%;
}
.airesumeoptimizationanalysis-container-row {
    border: 1px solid #000;
    box-shadow: 0px 4px 4px #00000040;
    border-radius: 25px;
    padding: 25px;
    height: 45%;
    max-height: auto;
    min-width: 95%;
}
.airesumeoptimizationanalysis-progress-content {
    height: auto;
}
.airesumeoptimizationanalysis-progress-content-header {
}
.airesumeoptimizationanalysis-strength-analysis-content {
}


.progress-content-progress-bar{}
.progress-content-group{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
}
.progress-content-label {
    color: var(--font-black);
    font-weight: 500;
}
.progress-content-progress-percentage,
.progress-content-group > .progress {
    width: 50%;
    height: auto;
}
.progress-content-percentage {
    color: #1877F2;
    font-size: 42px;
    margin: 0px;
    padding: 0px;
}
.progress-bar-yellow .progress-bar {
    background-color: #F8BD00 !important; /* Custom color */
}
.progress-bar-blue .progress-bar {
    background-color: #1706ac !important; /* Custom color */
}
.progress-bar-orange .progress-bar {
    background-color: #e65c00 !important; /* Custom color */
}
.progress-bar-green .progress-bar {
    background-color: #009900 !important; /* Custom color */
}
.progress-bar-red .progress-bar {
    background-color: #b30000 !important; /* Custom color */
}
.chart-name {
    /* background-color: #1877F2; */
    color: var(--font-black);
    padding: 3px 25px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.progress-content-progress-percentage-container {
    width: auto;
}
.airesumeoptimizationanalysis-btn-content {
    padding: 0px !important;
    border: none !important;
    box-shadow: none !important;
}
.airesumeoptimizationanalysis-container-btn {

}
.btn-compare-resume {
    padding: 3px 20px;
    margin-right: 5px;
    background: var(--primary-color) !important;
    color: var(--font-white);
    border: none;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}







/* Compare Resumes */
.compareresumes-container {
    height: 100%;
}
.compareresumes-container-row {
}
.compareresumes-resume-content {
    height: 100%;
    margin-top: 50px;
}
.compareresumes-resume-content-resume-btn {}


/* .compareresumes-resume-content-resume-btn > button {
    padding: 3px 20px;
    margin-right: 5px;
    background: #686868 ;
    color: var(--font-white);
    border: none;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.btn-active {
    background: var(--primary-color) !important;
} */
.compareresumes-content-resume-container {
    height: 100% ;
}
.compareresumes-content-resume {
    height: 100% ;
}
.compareresumes-content-resume-original,
.compareresumes-content-resume-optimized {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    padding: 20px;
    overflow: hidden;
    background-color: #FFFFFF;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px #00000040;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.compareresumes-content-resume-original-content,
.compareresumes-content-resume-optimized-content {
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: #F2F3F7;
    box-shadow: 0px 4px 4px #00000040;
    padding: 10px;
    border-radius: 20px;
}
.compareresumes-content-resume-optimization {
    border: 1px solid #000;
    box-shadow: 0px 4px 4px #00000040;
    border-radius: 25px;
    padding: 25px;
    min-width: 48%;
    height: calc(100vh - 200px);
    max-height: 1080px;
}
.compareresumes-content-resume-original-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.compareresumes-content-resume-optimization-body {}
.resume-optimization-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.resume-optimization-label {
    font-size: 16px;
}
.resume-optimization-value {}
.compareresumes-btn-content {}
.compareresumes-container-btn {}

.btn-cancel-optimizer,
.btn-save-export {
    padding: 5px 40px;
    margin-inline: 10px;
    background: var(--primary-color) !important;
    color: var(--font-white);
    border: none;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.btn-cancel-optimizer {
    background: var(--secondary-color) !important;
}
.btn-save-export {
    background: var(--primary-color) !important;
}






  

/* save and export resume */
.saveandexportresume-container {}
.saveandexportresume-header{}
.saveandexportresume-header > .saveandexportresume-title{
    color: var(--secondary-color);
}
.saveandexportresume-title {}
.saveandexportresume-main-content {
    border: 1px solid #000 !important;
    box-shadow: 0px 4px 4px #00000040;
    height : calc(100vh - 200px) ;
    width: 95%;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.saveandexportresume-container-row-header {}
.saveandexportresume-description {}
.saveandexportresume-container-export-btn {}
.saveandexportresume-container-export-btn > button {
    padding: 10px 50px;
    margin-right: 5px;
    background: var(--secondary-color);
    color: var(--font-white);
    border: none;
    width: 500px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.saveandexportresume-container-export-btn > button:hover {
    background: #110489;
}
.saveandexportresume-container-export-btn > p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-start-new-optimization {
    width: 300px !important;
    background: var(--primary-color) !important;
}
.btn-start-new-optimization:hover {
    background: #bf5203 !important;
}
.btn-start-new-optimization {
    padding: 3px 25px;
}









/* scroll styles */
#job-description,
.compareresumes-content-resume-original-content,
.compareresumes-content-resume-optimized-content {
    --bg-fade-signup: #f0f0f0; /* Example background color for the scrollbar track */
    --primary-color: #007bff; /* Example primary color for the scrollbar thumb */
}
  
  /* Scrollbar styling */
#job-description::-webkit-scrollbar,
.compareresumes-content-resume-original-content::-webkit-scrollbar,
.compareresumes-content-resume-optimized-content::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}
  
#job-description::-webkit-scrollbar-track,
.compareresumes-content-resume-original-content::-webkit-scrollbar-track,
.compareresumes-content-resume-optimized-content::-webkit-scrollbar-track {
    background: var(--bg-fade-signup); /* Background of the scrollbar track */
    width: 12px; /* Width of the scrollbar */
}
#job-description::-webkit-scrollbar-thumb,
.compareresumes-content-resume-original-content::-webkit-scrollbar-thumb,
.compareresumes-content-resume-optimized-content::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: #d65a05; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners */
    width: 12px; /* Set the width of the thumb */
    height: 12px; /* Set the height to the same as the width for a circle */
}
  