:root {
  --primary-color: #f46a05;
  --secondary-color: #1706ac;
  --font-white: #fff;
  --input-bg: #686868;
  --bg-fade-signup: #d9d9d9;
  --font-black: #000;
}



.analytics-bg {
  background-color: var(--input-bg);
  min-height: 100vh;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result-container{
  background: var(--font-white);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.result-main-container {
  width: 100%;
  max-width: 1200px;
  background: var(--font-white) !important;
  padding: 20px;
}

.result-main-container h4 {
  color: var(--primary-color);
}

.interview-result-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--font-black);
  border: none;
}

.interview-container {
  background: var(--font-white);
  border-radius: 20px;
  border: 2px solid var(--primary-color);
  padding: 20px;
  overflow-y: auto;
  height: 100%;
}
.interview-data{
  height: 90%;
}
.score-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid var(--primary-color);
}

.score-section > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating-name {
  width: 70%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-fade-signup);
  border-radius: 50px;
  font-weight: 700;
}

.rating-name-overall {
  width: 70%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-weight: 700;
  background-color: var(--primary-color);
  color: var(--font-white);
}

.result-red {
  color: #b30000; /* Dark red */
}

.result-yellow {
  color: #cc9900; /* Dark yellow */
}

.result-orange {
  color: #e65c00; /* Dark orange */
}

.result-green {
  color: #009900; /* Dark green */
}


.question-navigation > .prev , .question-navigation > .next{
  color: var(--primary-color);
  font-weight: 700;
  font-size: 25px;
}
.question-navigation > h4{
  font-size: 30px;
  margin: 0;
}
.result-container > .row > div{
  margin-top: 20px;
}
.btn:hover {
  opacity: 0.9;
}

.btnReturnAnalytics {
  background-color: var(--secondary-color);
  color: var(--font-white);
  border: none;
  border-radius: 50px;
  height: 40px;
  width: 200px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btnPractice {
  background-color: var(--primary-color);
  color: var(--font-white);
  border: none;
  border-radius: 50px;
  height: 40px;
  width: 200px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-retry {
  background-color: var(--primary-color);
  color: var(--font-white);
}

.filler-red {
  color: red;
}
