:root {
  --primary-color: #f46a05;
  --secondary-color: #1706ac;
  --font-white: #fff;
  --font-black: #000;
  --input-bg: #686868;
  --bg-fade-signup: #d9d9d9;
}

.ReviewYourReferenceCheck-container {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  justify-content: space-between; /* Ensures space between elements */
  width: 80%;
  max-width: 1300px;

  max-height: 700px;
  background: var(--font-white);
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0px #00000059;
  /* margin: 10vh 0vh !important; */
  position: relative;
  overflow: hidden; /* Ensure content doesn’t overflow the container */
}

.ReviewYourReferenceCheck-container.expanded {
  max-height: none; /* Allow it to expand */
  overflow-y: auto; /* Enable scrolling when expanded */
}

.ReviewYourReferenceCheck-container > p {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.ReviewYourReferenceCheck-container > p > span {
  font-size: 14px;
  font-weight: 400;
  color: var(--input-bg);
}

.question-container {
  margin-bottom: 20px;
}
.question-indicator {
  font-size: 1.5rem;
  font-weight: bold;
  width: 200px;
  border-bottom: 3px solid var(--primary-color);
}

.question-text {
  font-size: 16px;
  font-weight: 400;
}
.orig-label,
.stndard-label{
  color: var(--input-bg);
  font-weight: 300;

}

.answer-container,
.standardized-answer-container {
  margin-bottom: 15px;
}
.answer-container{
  background: #F2F3F7;
  padding: 20px;
  border-radius: 20px;
}
.standardized-answer-container{
  background: #319f4331;
  padding: 10px;
  border-radius: 20px;

}
/* textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--input-bg);
  border-radius: 10px;
  font-size: 14px;
  color: var(--font-black);
} */

.answer-container p,
.standardized-answer-container p {
  margin: 0;
  padding: 0;
}

.YourOriginalAns-container {
  background: #f2f3f7;
  padding: 20px;
  border-radius: 10px;
}

.EnchanceAns-container {
  background: #319f432b;
  padding: 20px;
  border-radius: 10px;
}

.EnchanceAns-container p,
.YourOriginalAns-container p {
  margin: 0 !important;
  padding: 0;
}
.edit-btn-container button{
  background: var(--secondary-color);
  border-radius: 50px;
  padding: 5px 15px;
  color: var(--font-white);
  border: none;
}

.ReviewYourReferenceCheck-dropdown-content button {
  background: #ffdcc2;
  border-radius: 50px;
  padding: 5px 20px;
  border: none;
}

.view-more-btn {
  align-self: center; /* Center the button horizontally */
  padding: 10px 20px;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1; /* Ensure the button stays above content */
}

.view-more-btn,
.reset-btn {
  font-size: 16px;
}

.reset-btn {
  background: var(--primary-color);
  font-size: 18px;
  border-radius: 50px;
  padding: 5px 60px;
  border: none;
  color: var(--font-white);
  margin-top: 20px;
}

/* Navigation Buttons Styling */
.navigation-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 35px;
  font-weight: 500;
}

.prev-btn,
.next-btn {
  color: var(--primary-color);
  cursor: pointer;
  margin: 0 10px;
  background: none;
  border: none;
  font-size: 50px;

}

.prev-btn:disabled,
.next-btn:disabled {
  color: var(--input-bg);
  cursor: not-allowed;
}

.prev-btn:hover,
.next-btn:hover {
  color: var(--primary-color);
}

.submit-btn {
  padding: 10px 40px;
  background: var(--primary-color);
  color: var(--font-white);
  font-size: 16px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.submit-btn:hover {
  background: var(--secondary-color);
}

