:root {
    --primary-color: #F46A05; 
    --secondary-color: #1706AC;
    --font-white: #fff;
    --card-color: #686868;
    --text-color: #000;
    --acttivit-card-bg: #D9D9D9;

}

.sidebar-container {
    justify-content: space-around;
    gap: 30px;
    width: 350px;
    border: 2px solid var(--primary-color);
    border-top: none;
    border-left: none;
    padding: 0 !important;
    border-bottom: none;
    transition: width 0.3s; /* Smooth transition for width change */
}
.logo-brand{
    padding: 0 !important;
}
.avatar-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.user-avatar-info > div, .user-avatar-info > .userprofilelink{
    color: var(--primary-color) !important;
}

.user-avatar-info > div {
    font-weight: 500;
    font-size: 14px;
}
.user-email{
    font-size: 11px;
    font-weight: 100 !important;
}
@media (max-width: 768px) {
    .sidebar-container {
        width: 250px; /* Smaller width for tablets */
    }
}

@media (max-width: 576px) {
    .sidebar-container {
        width: 100%; /* Full width for mobile */
        position: absolute; /* Allow it to overlay the content */
        z-index: 1000; /* Ensure it overlays */
    }
}