:root {
  --primary-color: #f46a05;
  --secondary-color: #1706ac;
  --font-white: #fff;
  --card-color: #686868;
  --avatar-bg: #68686882;
  --text-color: #000;
  --acttivit-card-bg: #d9d9d9;
}

.sidebar-container {
  display: flex !important;
  justify-content: flex-start !important;
  min-width: 350px ;
  width: 30%; /* Fixed width for desktop */
  border: 2px solid var(--primary-color);
  border-top: none;
  border-left: none;
  padding: 0 !important;
  border-bottom: none;
  transition: width 0.3s; /* Smooth transition for width change */
}

.sidebarnav {
  font-weight: 500 !important;
  font-size: 1rem; /* Use rem for scalability */
  color: var(--card-color) !important;
}

.sidebarnav > svg {
  fill: var(--card-color) !important;
  margin-right: 10px;
  width: 1rem; /* Use rem for scalability */
}

.sidebarnav.active {
  color: var(--primary-color) !important; /* Change text color */
}

.sidebarnav.active > svg {
  fill: var(--primary-color) !important; /* Change SVG fill color */
}

.logo-brand {
  padding: 0 !important;
}

.avatar-img {
  width: 4.5rem; /* Use rem for scalability */
  height: 4.5rem; /* Use rem for scalability */
  border-radius: 50%;
  padding: 10px;
  background: var(--avatar-bg);
}

.user-avatar-info > div,
.user-avatar-info > .userprofilelink {
  color: var(--primary-color) !important;
}

.user-name {
  font-weight: bolder !important;
  font-size: 1rem; /* Use rem for scalability */
}

.user-email {
  font-size: 0.7rem; /* Use rem for scalability */
  font-weight: 100 !important;
}


.dropdown-item.active, .dropdown-item:active {
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--font-white);
}
.dropdown-menu-end{
  padding: 0 !important;
}
.dropdown-menu-end .dropdown-item:hover{
  color: var(--font-white);
  background: var(--primary-color);
}

