:root {
    --primary-color: #f46a05;
    --secondary-color: #1706ac;
    --font-white: #fff;
    --card-color: #686868;
    --avatar-bg: #68686882;
    --text-color: #000;
    --subscription-btn: #319F43;
    --activity-card-bg: #d9d9d9;
}

.user-profile-section {
    border: 2px solid var(--font-white);
    border-radius: 20px;
    height: auto;
    max-height: 85vh;
    padding: 30px 100px 50px 50px;
    overflow: hidden;
}

.user-profile-container > p{
    width: 350px;
    border-bottom: 5px solid var(--primary-color) !important;
}
.user-nav {
    background: var(--font-white);
    border-radius: 50px;
}

.user-nav > .nav-item {
    width: 33%;
    text-align: center;
}
/* Active Nav Link Styles */
.user-nav .nav-link{
    margin: 5px;
    color: var(--text-color);
    background: var(--activity-card-bg);
    border-radius: 10px; /* Ensure it has rounded corners */


}
.user-nav .nav-link.active {
    background: var(--primary-color); /* Set the background color to white when active */
    color: var(--font-white) !important; /* Change text color if needed */
    border-radius: 10px; /* Ensure it has rounded corners */
}
.user-nav .nav-link:hover {
    background: var(--primary-color); /* Set the background color to white when active */
    color: var(--font-white) !important; /* Change text color if needed */
}
.btn-update-user-info {
    width: 50%;
    background: var(--card-color);
    border: 10px;
    margin-bottom: 20px;
}

.btn-update-user-info:hover {
    background: var(--avatar-bg);
}
.user-profile-container{
    height: 90%;
}
.personal-info-container , .security-container, .preferences-container{
    height: 80%!important;
}
.avatar-container {
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: var(--avatar-bg);
}

.user-default-img {
    width: 60%;
}
.btn-hide-unhide{
    border-radius: 10px !important;
    background: var(--font-white);
}
.btn-change-pass{
    width: 200px;
    background: var(--card-color);
    border: none;
}
.btn-change-pass:hover{
    background: var(--avatar-bg);
}
.upload-icon {
    top: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    background: var(--font-white);
    border-radius: 50%;
    padding: 5px;
    color: var(--primary-color);
}
.upload-icon > label{
    cursor: pointer !important; 

}
/* Custom styles for the switch */
.custom-switch .form-check-input:checked {
    background-color:var(--primary-color); /* Change this color to your desired checked color */
    border-color: var(--text-color); /* Change this color to your desired border color */
  }
  
  .custom-switch .form-check-input:focus {
    box-shadow:none; /* Change this color for focus shadow */
  }

  .custom-switch .form-check-label {
    color: #333; /* Change the label color */
  }

.footer-personal-info {

    padding: 10px;
}

.footer-personal-info > div > div {
    width: 80% !important;
}

.footer-personal-info > h5 {
    color: var(--avatar-bg);
}

.footer-personal-info > div > button {
    width: 20%;
    height: 50px;
    background: var(--subscription-btn);
    border: none;
    border-radius: 10px;
    font-size: 15px;
}