:root {
  --primary-color: #f46a05;
  --secondary-color: #1706ac;
  --font-white: #fff;
  --card-color: #686868;
  --avatar-bg: #68686882;
  --text-color: #000;
  --sidebar-bg: #f2f3f7;
  --btn-view-color: #319f43;
}
.search-candidates .search-wrapper {
  position: relative;
}

.search-wrapper input {
  border-radius: 20px;
  width: 300px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 0.5px solid rgba(0, 0, 0, 0.25);}

.search-wrapper .search-icon {
  right: 10px !important;
  font-size: 18px; /* Adjust size as needed */
  color: var(--card-color); /* Adjust color as needed */
  pointer-events: none; /* Ensures the icon doesn't interfere with clicking the input */
}

.btn-create-new-candidate {
  background: var(--primary-color);
  border: none;
  color: var(--font-white);
  font-size: 1.25rem; /* Use rem for scalability */
  border-radius: 50px;
  /* width: 300px; */
  padding: 5px 25px 5px 15px; /* Increased padding for better touch targets */
  cursor: pointer; /* Change cursor to pointer */
  transition: background-color 0.3s; /* Smooth transition */
}
.btn-create-new-candidate:hover {
  background: darkorange; /* Darker shade on hover */
}
.btn-no-delete-candidate{
  background: var(--secondary-color);
  width: 120px;
  border-radius: 50px;
  color: var(--font-white);
  border: none;
  padding: 5px 30px; /* Adjusted padding */

}
.btn-yes-delete-candidate{
  background: var(--primary-color);
  width: 120px;
  border-radius: 50px;
  color: var(--font-white);
  border: none;
  padding: 5px 30px; /* Adjusted padding */

}
.AiReference-candidates-container {
  background: var(--font-white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 0.5px solid rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  padding: 20px;
  height: 60vh;
}
.AiReference-candidates-container > div {
  height: 15%;
}
.AiReference-candidates-container table {
  width: 100%;
  height: 80%;
  border-collapse: collapse; /* Ensure borders are collapsed */
  font-size: 15px;
}

.AiReference-candidates-container tbody {
  display: block; /* Make tbody a block element */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden;
  height: 100%;
}

.AiReference-candidates-container tr {
  display: table; /* Ensure rows are displayed as table rows */
  table-layout: fixed; /* Prevent layout shifts */
  width: 100%; /* Full width for rows */
}
.AiReference-candidates-container th {
  color: var(--card-color);
}
.AiReference-candidates-container th,
.AiReference-candidates-container td {
  padding: 15px; /* Padding for table cells */
  word-wrap: break-word;
  text-align: left; /* Align text to the left */
}
/* .AiReference-candidates-container td:nth-child(5){
  padding: 0;
} */
.AiReference-candidates-container th,
.AiReference-candidates-container td{
  width: 20%;
  font-weight: bold;

}
.AiReference-candidates-container td:nth-child(1),
.AiReference-candidates-container td:nth-child(3){

  text-transform:capitalize;

}

.AiReference-candidates-container th:nth-child(2),
.AiReference-candidates-container td:nth-child(2){
  width: 20%;
}

.AiReference-candidates-container th:nth-child(4),
.AiReference-candidates-container td:nth-child(4){
  width: 8%;
}
.AiReference-candidates-container td:nth-child(5){
  width: 31%;
}
.AiReference-candidates-container th:nth-child(5){
width: 31.7%;
}

.AiReference-candidates-container .btn-view-details {
  background: var(--btn-view-color);
  text-decoration: none;
  color: var(--font-white);
  width: 120px;
  padding: 8px; /* Adjusted padding */
  border-radius: 50px;
  height: auto;

  border: none !important;
  cursor: pointer; /* Change cursor to pointer */
  transition: background-color 0.3s;
  font-size: 14px;
}

.AiReference-candidates-container .btn-view-details:hover {
  background: darkgreen;
}

.candidate-button-controller button{
  border-radius: 50px;
  border: none;
  width: 150px;
  padding: 5px;
  color: var(--font-white);
}
.candidate-button-controller button:nth-child(1){
  background: var(--secondary-color);
}
.candidate-button-controller button:nth-child(2){
  background: var(--primary-color);
}
.btn-add-candidate {
  background: var(--primary-color);
  border-radius: 50px;
  border: none;
  width: 150px;
  padding: 5px;
  color: var(--font-white);
}
.btn-add-candidate:disabled {
  background: var(--card-color) !important;
  cursor: not-allowed;
}
.btn-add-candidate-component {
  background: var(--secondary-color);
  border-radius: 50px;
  border: none;
  width: 100%;
  padding: 5px;
  color: var(--font-white);
}
.btn-add-candidate-component:disabled {
  background: var(--card-color) !important;
  cursor: not-allowed;
}
.add-candidate-controller{
  height: 9%;
  margin-top: 1%;
}
.add-candidate-controller button{
background: none;
border: none;
}
.add-candidate-controller span{
  font-size: 20px !important;
}
.add-candidate-controller svg{
  height:18px !important;
}
.add-candidate-controller button:disabled svg path {
  fill:var(--avatar-bg) !important; /* Blue color for disabled state */
}

/* Customizing the scrollbar */
.AiReference-candidates-container tbody::-webkit-scrollbar {
  width: 5px; /* Scrollbar width */
}

.AiReference-candidates-container tbody::-webkit-scrollbar-thumb {
  background-color: var(--primary-color); /* Scrollbar thumb color */
  border-radius: 6px; /* Rounded corners */
}

.AiReference-candidates-container tbody::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color); /* Scrollbar thumb color */
}

.AiReference-candidates-container tbody::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Track color */
  border-radius: 6px; /* Rounded corners for the track */
}
