:root {
  --primary-color: #f46a05;
  --secondary-color: #1706ac;
  --font-white: #fff;
  --font-black: #000;
  --card-color: #686868;
  --btn-color: #b9b9b9;
}
/* Style for the button controls */
.button-controls-report button {
  background: var(--btn-color);
  border: none;
  color: var(--font-black);
  border-radius: 50px;
  padding: 5px 20px;
  width: 200px;
  transition: background 0.3s ease, color 0.3s ease;
}

.button-controls-report button:hover {
  cursor: pointer;
  background: var(--primary-color);
  color: var(--font-white);
}

.button-controls-report button.active {
  background: var(--primary-color); /* Primary color when active */
  color: var(--font-white); /* Change text color to white */
}

.AiReference-report-container {
  background: var(--font-white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 0.5px solid rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  padding: 20px;
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure it takes full available height of its parent */
  overflow: hidden; /* Prevent overflow if content exceeds max-height */
}
.AiReference-report-container table {
  width: 100%;
  height: 70%;
  border-collapse: collapse; /* Ensure borders are collapsed */
}

.AiReference-report-container tbody {
  display: block; /* Make tbody a block element */
  max-height: 25vh; /* Set a max height for scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
}

.AiReference-report-container tr {
  display: table; /* Ensure rows are displayed as table rows */
  table-layout: fixed; /* Prevent layout shifts */
  width: 100%; /* Full width for rows */
}
.AiReference-report-container th,
.AiReference-report-container td {
  padding: 10px; /* Padding for table cells */
word-wrap: break-word;
  text-align: left; /* Align text to the left */
  text-transform: capitalize;
}
/* .AiReference-report-container td:nth-child(5){
  padding: 0;
} */
.AiReferenceCard-report {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between cards */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 20vh;
  background: var(--font-white);

}
.AiReferenceCard-report  > div p {
  font-weight: 500;
  height: 10%;
  margin: 0;
}
.AiReferenceCard-report  .title {
  font-weight: bold !important;
  color: var(--card-color);
}

.AiReferenceCard-report  .count {
  font-size: 35px !important;
  font-weight: bold !important;
  margin: 0;
  height: 90%;
  width: 100%;
}

.AiReferenceCard-report  .value {
  font-size: 35px !important;
  font-weight: bold !important;
  margin: 0;
  padding-top: 10%;
  height: 70%;
  width: 100%;
}
.AiReferenceCard-report  small {
  color: var(--card-color);
}

.AiReference-report-container .btn-view-details {
  background: var(--btn-view-color);
  text-decoration: none;
  color: var(--font-white);
  padding: 8px 30px; /* Adjusted padding */
  border-radius: 50px;
  border: none !important;
  cursor: pointer; /* Change cursor to pointer */
  transition: background-color 0.3s;
  font-size: 14px;
}

.AiReference-report-container .btn-view-details:hover {
  background: darkgreen;
}
.AiReference-report-container .row {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  height: 100% !important; /* Ensure row takes full height */
}

.chart-container-report {
  flex-grow: 1; /* Ensure the chart container grows to fill available space */
}

.AiReference-report-container canvas {
  max-height: 30vh; /* Set a max height for scrolling */
  width: 100% !important; /* Ensure the canvas takes up the full width */
  object-fit: contain; /* Ensure the canvas resizes without distortion */
}

.custom-legend ul {
  list-style-type: none;
  padding-left: 0;
}

.custom-legend li {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  left: 70%;
  font-size: 18px;
}

.legend-box {
  width: 16px;
  height: 16px;
  position: relative;
  bottom: 2px;
}

.legend-box.completed {
  background-color: #1877f2; /* Completed color */

}

.legend-box.pending {
  background-color: #f8bd00; /* Pending color */

}

/* Customizing the scrollbar */
.AiReference-report-container tbody::-webkit-scrollbar {
  width: 6px; /* Scrollbar width */
}

.AiReference-report-container tbody::-webkit-scrollbar-thumb {
  background-color: var(--primary-color); /* Scrollbar thumb color */
  border-radius: 6px; /* Rounded corners */
}

.AiReference-report-container tbody::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color); /* Scrollbar thumb color */
}

.AiReference-report-container tbody::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Track color */
  border-radius: 6px; /* Rounded corners for the track */
}