:root {
  --primary-color: #f46a05;
  --secondary-color: #1706ac;
  --font-white: #fff;
  --card-color: #686868;
  --avatar-bg: #68686882;
  --text-color: #000;
  --sidebar-bg: #f2f3f7;
  --btn-view-color: #319f43;
}
.AiReference-question-container {
  background: var(--font-white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 0.5px solid rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  padding: 20px;
  height: 60vh;
}
.btn-edit-hr-hatch-formats{
  background: var(--secondary-color);
  border: none;
  color: var(--font-white);
  border-radius: 50px;
  /* width: 300px; */
  padding: 5px 20px; /* Increased padding for better touch targets */
  cursor: pointer; /* Change cursor to pointer */
  transition: background-color 0.3s; /* Smooth transition */
  margin-right: 10px;

}
.AiReference-Question-Sets-Container {
  overflow-y: auto;
  height: 35vh;
  padding-right: 10px;
}
.AiReference-table-title img {
  position: relative;
  bottom: 1px;
}
.button-controls-question button {
  background: var(--btn-color);
  border: none;
  color: var(--font-black);
  border-radius: 50px;
  padding: 5px 20px;
  width: 250px;
  transition: background 0.3s ease, color 0.3s ease;
}

.button-controls-question button:hover {
  cursor: pointer;
  background: var(--primary-color);
  color: var(--font-white);
}

.button-controls-question button.active {
  background: var(--primary-color); /* Primary color when active */
  color: var(--font-white); /* Change text color to white */
}
.dropdown-toggle-q-sets {
  border: none;
  background: none;
}
.question-set-container {
  border: 1px solid var(--avatar-bg) !important;
  height: auto; /* Start with a max-height of 0 for collapsed state */
  padding: 10px 30px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px #0000003d;
  transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out; /* Smooth transition for max-height and opacity */
  overflow: hidden; /* Ensure content doesn't overflow during transition */
}

/* When expanded */
.question-set-container.expanded {
  max-height: 300px; /* Set to a value that fits your content */
}
.question-set-container p {
  margin: 0 !important;
}
.question-set-info {
  width: 80%;
}
.question-set-container .question-controls {
  width: 20%;
}
.question-controls > div {
  width: 70%;
}

.btn-add-new-question {
  border-radius: 20px;
  border: 1px solid #00000020;
  width: 100%;
  padding: 5px;
  box-shadow: 0px 4px 4px #0000003d;

}
.hr-hatch-card-container {
  height: 80% !important;
}
.hr-hatch-card {
  border: 1px solid #686868;
  height: 280px;
  width: 290px;
  border-radius: 20px;
  border-top: transparent !important;
}

/* Style the first h5 element in hr-hatch-card-container */
.hr-hatch-card-container .hr-hatch-card:nth-child(1) h5 {
  color: var(--btn-view-color) !important;
}

/* Style the second h5 element in hr-hatch-card-container */
.hr-hatch-card-container .hr-hatch-card:nth-child(2) h5 {
  color: #1877f2 !important;
}

/* Style the third h5 element in hr-hatch-card-container */
.hr-hatch-card-container .hr-hatch-card:nth-child(3) h5 {
  color: #f8bd00 !important;
}
.color-green {
  color: var(--btn-view-color);
}
.color-blue1 {
  color: #1877f2 !important;
}
.color-yellow {
  color: #f8bd00 !important;
}
.hr-hatch-card > h5 {
  width: 100%;
  height: 20%;
  padding: 20px;
  height: auto;
  margin: 0 !important;
  border-radius: 20px 20px 0px 0px;
  position: relative;
}

.hr-hatch-card > h5 > svg {
  position: absolute;
  right: 20px;
  height: 20px;
}
.hr-hatch-card > p {
  padding: 20px 20px 0px 20px;
  color: var(--card-color);
  font-size: 17px;
  margin: 0;
  height: 50%;
}
.hr-hatch-card > small {
  padding: 20px 20px 0px 20px;
  text-align: left;
  width: 100%;
  font-weight: 600;
  height: 10%;
}

.btn-view-questions {
  background: var(--primary-color);
  border-radius: 50px;
  border: none;
  width: 200px;
  padding: 5px 15px;
  color: var(--font-white);
}
.dropdown-flipped {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
/* styles.css or App.css */

.questions-list {
  max-height: 217px; /* Set a max-height to allow scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
}
.questions-list .text-area-question{
  width: 88.5% !important;
  height: auto;
  overflow: hidden; /* Hide scrollbar */
  padding: 8px; /* Add some padding */
  border: 1px solid #ced4da; /* Border styling */
  border-radius: 0.25rem; /* Rounded corners */
  box-shadow: none; /* Remove shadow */
}
.dropdown-content-q-sets ul {
  max-height: 150px;
  overflow-y: auto; /* Enable vertical scrolling */
}
.dropdown-content-q-sets svg {
  cursor: pointer;

}
.questions-list button{
  border-radius: 10px;
  box-shadow: 0px 4px 4px #0000003d;
  border: 1px solid #00000020;
  height: 100%;
  
}
.btn-no-delete-questions{
  background: var(--secondary-color);
  width: 120px;
  border-radius: 50px;
  color: var(--font-white);
  border: none;
  padding: 5px 30px; /* Adjusted padding */

}
.btn-yes-delete-questions{
  background: var(--primary-color);
  width: 120px;
  border-radius: 50px;
  color: var(--font-white);
  border: none;
  padding: 5px 30px; /* Adjusted padding */

}

.input-set-name::placeholder {
  font-style: italic; /* Italicize the placeholder text */
}
.btn-reset-question{
  background: var(--secondary-color);
  border-radius: 50px;
  border: none;
  width: 150px;
  padding: 5px;
  color: var(--font-white);
}
.btn-reset-question:disabled{
  background: var(--card-color);
}
.suggestions-list {
  position: absolute; /* Position it relative to the parent */
  background-color: var(--font-white); /* Background color for the suggestions */
  border: 1px solid #ccc; /* Border around the suggestions */
  border-radius: 4px; /* Rounded corners */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  z-index: 1000; /* Ensure it appears above other elements */
  overflow-y: auto; /* Scroll if there are too many suggestions */
  width: 100%; /* Match the width of the input */
}
.text-area-question-hr-hatch{
    height: auto;
    overflow: hidden;
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
}
.suggestion-item {
  padding: 8px 12px; /* Padding for each suggestion */
  cursor: pointer; /* Pointer cursor on hover */
}

.suggestion-item:hover {
  background-color: #f0f0f0; /* Highlight on hover */
}
.custom-modal-question .modal-dialog {
  width: 60% !important;
  max-width: 550px !important;
}


.custom-modal-question .modal-body{
  width: 100%;
}
.custom-modal-question .modal-body .hr-hatch-option > button{
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  border-radius: 50px;
  padding: 10px 30px;
}
.custom-modal-question .modal-body .hr-hatch-option > button:hover{
transform: scale(1.01);
}

.custom-modal-question .modal-body .hr-hatch-option >  button:nth-child(1){
  background: #319F43;

}
.custom-modal-question .modal-body .hr-hatch-option > button:nth-child(2){
  background: #1877F2;
}
.custom-modal-question .modal-body .hr-hatch-option > button:nth-child(3){
  background: #F8BD00;
}

/* Customizing the scrollbar */
.questions-list::-webkit-scrollbar,
.dropdown-content-q-sets ul::-webkit-scrollbar,
.AiReference-Question-Sets-Container::-webkit-scrollbar,
.ReviewYourReferenceCheck-box-dropdown::-webkit-scrollbar,
.Format-Container::-webkit-scrollbar {
  width: 6px;
}

.questions-list::-webkit-scrollbar-thumb,
.dropdown-content-q-sets ul::-webkit-scrollbar-thumb,
.AiReference-Question-Sets-Container::-webkit-scrollbar-thumb ,
.ReviewYourReferenceCheck-box-dropdown::-webkit-scrollbar-thumb,
.Format-Container::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.questions-list::-webkit-scrollbar-thumb:hover,
.dropdown-content-q-sets ul::-webkit-scrollbar-thumb:hover,
.AiReference-Question-Sets-Container::-webkit-scrollbar-thumb:hover ,
.ReviewYourReferenceCheck-box-dropdown::-webkit-scrollbar-thumb:hover,
.Format-Container::-webkit-scrollbar-thumb:hover {

  background-color: var(--primary-color);
}

.questions-list::-webkit-scrollbar-track,
.dropdown-content-q-sets ul::-webkit-scrollbar-track,
.AiReference-Question-Sets-Container::-webkit-scrollbar-track ,
.ReviewYourReferenceCheck-box-dropdown::-webkit-scrollbar-track,
.Format-Container::-webkit-scrollbar-track {

  background-color: #f1f1f1;
  border-radius: 6px;
}

.button-controls-job button:hover {
  cursor: pointer;
  background: var(--primary-color);
  color: var(--font-white);
}

.button-controls-job button.active {
  background: var(--primary-color); /* Primary color when active */
  color: var(--font-white); /* Change text color to white */
}

.progress-bar-for-question{
  border-radius: 50px !important;
  height: 28px;
  box-shadow: 0px 4px 4px #0000003d;

}
.progress-bar-for-question > .progress-bar{
  height: 100%;
  border-radius: 50px !important;
  background: var(--secondary-color);
  
}

/* Format format */
.Format-Container{
  overflow-y: auto;
  height: 37vh;
  padding-right: 10px;
}
.AiReference-table-title{
  height: 10vh;
}
.reference-question-returnbtn-container{
  height: 10vh;
  
}
.AiReference-question-container .btn-return{
  background: var(--secondary-color);
  border-radius: 50px;
  border: none;
  padding: 5px 15px;
  color: var(--font-white);
}